
<div  class="container filtre shadow-sm mt-2 mb-5 bg-white">
    <div class="row  justify-content-center">
        <div class="col-md-3">
            <h5 >Voyages à l'étranger </h5>
        </div>
        
    </div>
  </div>
  <div class="container">
    <div   class="row mt-5   justify-content-center" >
      <div class="col-md-6">
        <div style="text-align: center;" class="alert alert-primary " role="alert" *ngIf="errer_voyage_not_found">
          <i class="fas fa-search fa-2x"></i><br>
          <i class="fas fa-exclamation-circle">Aucun résultat trouvé.</i>
          <p>Veuillez renouveler votre recherche en modifiant vos critères</p>
        </div>
      </div>
    </div>
      <div   class="row mt-2   justify-content-center" >
      <div routerLink="programm/{{v.id}}" id="card"   class="col-md-4 " *ngFor="let v of voyages ">
    <div    class="card " >
      <img class="card-img-top" src="http://127.0.0.1:8000/images/voyage/{{v.image}}" alt="Card image cap">
      <div class="titre">
        <h5  class="card-title text-white ml-1 mt-1">{{v.titre}}</h5>
        <h4   class="card-title  float-right mr-1">a partire de: {{v.prix}} <sup>TND</sup></h4>
      </div>
    </div>
    </div>
    </div>
  </div>

