
<div  class="container h5 mt-5 ">
    <div class="row  justify-content-center">
        <div class="col-auto mt-5">
        <h5 >Voyage Organisé Omra 2020 </h5>  
        </div>
        
    </div>
  </div>
  <div class="container">
    <div   class="row mt-5   justify-content-center" >
      <div class="col-md-6">
        <div style="text-align: center;" class="alert alert-danger " role="alert" *ngIf="errer_voyage_not_found">
          <i class="fas fa-search fa-2x"></i><br>
          <i class="fas fa-exclamation-circle">Aucun résultat trouvé.</i>
          <p>Veuillez renouveler votre recherche en modifiant vos critères</p>
        </div>
      </div>
    </div>
    <div   class="row mt-2  justify-content-center" >
      <div  class="col-md-4 mb-4 " *ngFor="let v of voyages ">
             <div   routerLink="programm/{{v.id}}"  class="shadow-sm programm bg-white " >
                          <img height="250px" class="card-img-top" src="http://127.0.0.1:8000/images/voyage/{{v.image}}" alt="Card image cap">
                 <div class="card-body">
                       <h4  class="card-title">{{v.titre}} </h4>
                       <small>({{v.nbjour}} jours)</small> 
                       <h6  class="card-title">{{v.date[0]|date:'dd MMM y'}}</h6>
                 </div>
           </div>
       </div>
     </div>
    
  </div>

