
 <div class="row justify-content-md-center" style="color:#FEBB02;">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
 </div>
 
<h1 class="text-uppercase text-center mb-5 ">Les hébergements que les clients adorent</h1>

<div class="row justify-content-md-center">
    <div class="col-md-3 m-3" *ngFor="let item of createRange(t)">
        <div class="card m-1 w-100 h-75 "  >
             <img class="w-100 h-100" src="../../../assets/{{item}}.jpg" alt="Card image cap">
        </div>
    </div>
</div>

<div class="row justify-content-md-center" style="color:#FEBB02;">
    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
 </div>
    
          <h1 class="text-uppercase text-center mb-5 ">Voyages organisés</h1>

<div class="row justify-content-md-center">
    <div class="col-md-3 m-3" *ngFor="let item of createRange(t)">
        <div class="card m-1 w-100 h-75 "  >
             <img class="w-100 h-100" src="../../../assets/{{item}}.jpg" alt="Card image cap">
        </div>
    </div>
</div>

<h1 class="text-uppercase text-center mb-5 ">**********</h1>

<div class="row justify-content-md-center">
    
    <a (click)="avent()"><i class="fas fa-arrow-alt-circle-left fa-2x"></i></a>
    <div class="col-3 m-1" *ngFor="let item of createRange2(nb)">
        <div class="card m-1 w-100 h-75 "  >
             <img class="w-100 h-100" src="../../../assets/{{item}}.jpg" alt="Card image cap">
        </div>
    </div>
    <a  (click)="apret()" ><i class="fas fa-arrow-alt-circle-right fa-2x"></i></a>
</div>

<h1 class="text-uppercase text-center  ">**********</h1>
<div class="row justify-content-md-center">
    <div class="col-md-3 " *ngFor="let item of createRange(6)">
        <div class="flip-box" >
            <div class="flip-box-inner ">
              <div class="flip-box-front ">
                <img src="../../../assets/1.jpg" alt="Paris" style="width:300px;height:250px">
              </div>
              <div class="flip-box-back">
                <h2>Paris</h2>
                <p>What an amazing city</p>
              </div>
            </div>
          </div>
    </div>

</div>
