<div class="container mt-3 mb-3">
  <div class="row">
    
    <div class="col ">
        <div class="card bg-light m-3" style="max-width: 30rem;">
            <h5 style="text-align: center;" class="card-header" >Conactez nous</h5>
            <div class="card-body w-100">
                <form>
                    <div class="form-group">
                        <label >Nom et prénom *</label>
                        <input type="text" class="form-control">
                      </div>
                     
                    <div class="form-group">
                      <label >Email address*</label>
                      <input type="email" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label >GSM*</label>
                        <input type="text" class="form-control" >
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Votre message*</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
          </div>
    </div>
    <div class="col">
      <div class="card bg-light m-3" style="width: 35rem; height: 33rem;">
        <div class="card-body w-100 h-100">
          <div class="card-body w-100 h-100">
      <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.64560909199!2d10.608627927502187!3d35.85769250030452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd8a2e8df68909%3A0x93b1196dcbafd1d9!2sESPACE%20LA%20CAVERNE%20Sousse!5e0!3m2!1sfr!2stn!4v1582914538877!5m2!1sfr!2stn"   frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
  </div>
  </div>
    </div>
</div>

<div class="row m-5">
    <div class="col " >
        <div class="card bg-light m-3" style="max-width: 100%;">
            <h5 style="text-align: center;" class="card-header" >Contact</h5>
            <div class="card-body w-100">
              <p class="card-title"> Adresse : Av.Mohamed Ali Imm.Toumia Sousse 4000- Tunisie</p>
              <hr>
              <p class="card-text"> Tél :(+ 216) 73 220 488</p>
              <hr>
              <p class="card-text">Fax :(+ 216) 73 212 191</p>
              <hr>
              <p class="card-text">E-mail: marketing@dimavoyage.com</p>
              <hr>
              <p class="card-text"> Horaires :Du lundi au vendredi : 08:00 - 18:00 Et samedi : 08:00 - 12:00</p>
            </div>
          </div>
    </div>
</div>


</div>
