<div class="container" *ngIf="nbreservation > 0">
  <div class=" mt-2">
   
     <div class="col-md-6 shadow p-3 mb-5 bg-white rounded">
      <h5 style="text-align: center;" class="mt-2 ">Mon voyage</h5>
      <table class=" table">
        <thead>
          <tr>
            <th style="text-align: center;" scope="col">voyage</th>
            <th style="text-align: center;" scope="col">pays</th>
            <th style="text-align: center;" scope="col">prix</th>
            
            <th style="text-align: center;" scope="col">etat</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let R of reservationV" >
            <th style="text-align: center;">{{R[0]}}</th>
            <td style="text-align: center;">{{R[1]}}</td>
            <td style="text-align: center;">{{R[2]}}</td>
            
            <td style="text-align: center;">{{R[4]}}</td>
          </tr>
         
        </tbody>
      </table>
     </div>
     
    </div>
   
 
</div>

