<div class="container mt-5">
    <div class="row justify-content-center ">
        <div  class="col-8 shadow p-3 mb-5 bg-white rounded">
            <div  id="couvert" class="card  text-white">
              <img class="card-img w-100 " src="http://127.0.0.1:8000/images/voyage/{{voyage.image}}"  alt="">
              <div class="card-img-overlay">
                <h5  class="card-title" style="text-align: justify;">{{voyage.titre}}</h5>
                <h5 class="card-text" style="text-align:justify;">{{voyage.nbjour}} Jours /  {{voyage.nbjour-1}} Nuits</h5>
                <h1 class="" style="text-align:right;" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-camera"></i></h1>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form [formGroup]="registerForm"  (submit)="addperiode()">
      <div class="modal-header">
        <h5 class="modal-title">Periode de Voyage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <div class="form-row">
            <div class="col-md-3">
              <div   class="input-group mb-2">
                <div (click)="d.toggle()"class="input-group-prepend">
                  <div  class="input-group-text"> <i class="fas fa-calendar-alt"></i></div>
              </div>
              <input formControlName="dp"   class="form-control"   [minDate]="minPickerDate" [placeholder]="updetedate"
                 name="dp" [(ngModel)]="model" ngbDatepicker (ngModelChange)="onDateChange($event)" #d="ngbDatepicker">
              </div>
            </div>
            <div class="col">
              <input class="form-control" formControlName="prix" [(ngModel)]="prix" name="prix" type="text" placeholder="prix">
            </div>
           </div>
       
      
      </div>
      <div class="modal-footer">
        <button  *ngIf='type=="add"'   type="submit" class="btn btn-primary">Save changes</button>
        <button data-dismiss="modal"  *ngIf='type=="updete"'  (click)="Updeteperiod()" type="button" class="btn btn-primary">Updete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>
<div class="col-6 m-5 shadow p-3 mb-5 bg-white rounded">
  <h1 style="text-align: center;">Les Periode De Voyage Et Le Prix</h1>
  <div class="float-right m-2">
    <button (click)="add()"  type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-plus"> </i>  <strong>   Peride</strong>   </button>
  
  </div>
<table class="table table-bordered mt-5 ">
  
  <thead>
    <tr>
      <th style="text-align: center;" scope="col">Edite</th>
      <th style="text-align: center;" scope="col">Data</th>
      <th style="text-align: center;" scope="col">Prix</th>
      <th style="text-align: center;" scope="col">Supprimer</th>
    </tr>
  </thead>
  
  <tbody>
    
      <tr *ngFor="let p of periode">
        <th  style="text-align: center;" scope="row">
          <button (click)="updete(p)"  type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
            <i class="fas fa-edit"></i>
          </button>
        </th>
        <td style="text-align: center;">{{p.date}}</td>
        <td style="text-align: center;">{{p.prix}}</td>
        <td style="text-align: center;"><h2 (click)="delete(p.id)"><span class="badge  badge-danger"><i class="fas fa-trash-alt"></i></span></h2> </td>
      </tr>
  </tbody>

</table>

</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" >
  
</button>

<!-- Modal of updete image  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="registerForm" (submit)="updeteimage()">
        <div class="modal-body">
          <div class="custom-file">
            <input  [ngClass]="{ 'is-invalid': submitted && f.image.errors }" type="file"  accept="image/*" formControlName="image" name="image" (change)="fileChange($event)" [(ngModel)]='image' class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Nauvele image...</label>
            <div class="invalid-feedback">select file</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Ferme</button>
          <button type="submit" class="btn btn-primary"> Mise Ajoure</button>
        </div>
      </form>
     
    </div>
  </div>
</div>