<!--images-->
<ngb-carousel #carousel interval="7000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="picsum-img-wrapper">
        <img src="http://127.0.0.1:8000/images/voyage/{{img.name}}" alt="My image {{i + 1}} description">

      </div>
  </ng-template>
</ngb-carousel>
<!--button of model add peogarmme-->

<div class="container">
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageuplode">
      uplode
    </button>
    <button *ngIf="termine==false"  id="b_Model_programme" type="button" class="btn btn-danger " data-toggle="modal" data-target=".bd-example-modal-lg1"><i class="fas fa-plus"> </i>  <strong> Programme</strong></button>
  </div>
</div>
<!--image de voyage -->
<div class="container mt-5">
    <div class="row justify-content-center ">
        <div  class="col-8 shadow p-3 mb-5 bg-white rounded">
            <div  id="couvert" class="card  text-white">
              <img class="card-img w-100 " src="http://127.0.0.1:8000/images/voyage/{{voyage.image}}"  alt="">
              <div class="card-img-overlay">
                <h5  class="card-title" style="text-align: justify;">{{voyage.titre}}</h5>
                <h5 class="card-text" style="text-align:justify;">{{voyage.nbjour}} Jours /  {{voyage.nbjour-1}} Nuits</h5>
                <!--updete image-->
                <h1 class="" style="text-align:right;" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-camera"></i></h1>
              </div>
            </div>
        </div>
    </div>
</div>
<!--end image voyage-->
<!--afichage de periode-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-5 shadow p-3 mb-5 bg-white rounded">
      <h1 style="text-align: center;">Les Periode De Voyage Et Le Prix</h1>
      <div class="float-right m-2">
        <button (click)="add()"  type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-plus"> </i>  <strong>   Peride</strong>   </button>
      </div>
      <table class="table table-bordered mt-5 ">
      
      <thead >
        <tr>
          <th style="text-align: center;" scope="col">Edite</th>
          <th style="text-align: center;" scope="col">Data</th>
          <th style="text-align: center;" scope="col">Prix</th>
          <th style="text-align: center;" scope="col">Supprimer</th>
        </tr>
      </thead>
      
      <tbody>
        
          <tr *ngFor="let p of periode">
            <th  style="text-align: center;" scope="row">
              <button (click)="updete(p)"  type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
                <i class="fas fa-edit"></i>
              </button>
            </th>
            <td style="text-align: center;">{{p.date}}</td>
            <td style="text-align: center;">{{p.prix}}</td>
            <td style="text-align: center;"><h2 (click)="delete(p.id)"><span class="badge  badge-danger"><i class="fas fa-trash-alt"></i></span></h2> </td>
          </tr>
      </tbody>
    
      </table>
    
    </div>
  </div>
</div>

<!--end affichage de periode-->


<!-- Modal of updete image  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="registerForm" (submit)="updeteimage()">
        <div class="modal-body">
          <div class="custom-file">
            <input  [ngClass]="{ 'is-invalid': submitted && f.image.errors }" type="file"  accept="image/*" formControlName="image" name="image" (change)="fileChange($event)" [(ngModel)]='image' class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Nauvele image...</label>
            <div class="invalid-feedback">select file</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Ferme</button>
          <button type="submit" class="btn btn-primary" > Mise Ajoure</button>
        </div>
      </form>
     
    </div>
  </div>
</div>

<!--  modal of add periode de prix-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form [formGroup]="registerForm"  (submit)="addperiode()">
      <div class="modal-header">
        <h5 class="modal-title">Periode de Voyage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <div class="form-row">
            <div class="col-md-3">
              <div   class="input-group mb-2">
                <div (click)="d.toggle()"class="input-group-prepend">
                  <div  class="input-group-text"> <i class="fas fa-calendar-alt"></i></div>
              </div>
              <input formControlName="dp"   class="form-control"   [minDate]="minPickerDate" [placeholder]="updetedate"
                 name="dp" [(ngModel)]="model" ngbDatepicker (ngModelChange)="onDateChange($event)" #d="ngbDatepicker">
              </div>
            </div>
            <div class="col">
              <input class="form-control" formControlName="prix" [(ngModel)]="prix" name="prix" type="text" placeholder="prix">
            </div>
           </div>
       
      
      </div>
      <div class="modal-footer">
        <button  *ngIf='type=="add"'   type="submit" class="btn btn-primary">Save changes</button>
        <button data-dismiss="modal" data-dismiss="modal"  *ngIf='type=="updete"'  (click)="Updeteperiod()" type="button" class="btn btn-primary">Updete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>
<!--model of add programe de voyage-->
<div class="modal fade bd-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form [formGroup]="ProgrammeForm"  (submit)="addProgarmme()">
        <div class="modal-header">
          <h5 class="modal-title">Programme Voyage</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <div class="form-group shadow-textarea">
            <label *ngIf="termine==false" for="exampleFormControlTextarea6">Jour {{jour}}</label>
            <textarea *ngIf="termine==false" class="form-control z-depth-1" id="exampleFormControlTextarea6" formControlName="programme" name="programme" [(ngModel)]="programme" rows="3" placeholder="Write something here..."></textarea>
         <p *ngIf="termine==true" >le programme termine</p>
          </div>
        </div>
       
        <div class="modal-footer">
          <button *ngIf="termine==false" type="submit" class="btn btn-primary">Enregistrer</button>

          <button *ngIf="termine==true" type="button" class="btn btn-secondary" data-dismiss="modal">ok</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--programe nexite pas -->
<div *ngIf="termine==false" class="container ">
  <div class="row justify-content-center shadow p-3 mb-5 bg-white rounded">
    <p>Les programme de voyage ne pas termine</p>
  </div>
</div>
<!--afficher programme-->
  

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4 style="text-align: center;">Les programme de Voyage </h4>
			<ul class="timeline">
				<li *ngFor="let prog of allprogramme">
          <p (click)="updeteprograme(prog)" class="float-right text-success" data-toggle="modal" data-target=".bd-example-modal-lg3">Modifier</p>
					<h5 class="text-primary">Jour  {{prog.jour}}</h5>
					
					<p>{{prog.description}}</p>
				</li>
			
			</ul>
		</div>
	</div>
</div>

<div class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form [formGroup]="ProgrammeForm"  (submit)="updetemodifier()">
        <div class="modal-header">
          <h5 class="modal-title">Programme Voyage</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <div class="form-group shadow-textarea">
            <label *ngIf="updete_termine==false" for="exampleFormControlTextarea6">Jour {{jour_updete}}</label>
            <textarea *ngIf="updete_termine==false" class="form-control z-depth-1" id="exampleFormControlTextarea6" formControlName="programme" name="programme" [(ngModel)]="programme" rows="3" placeholder="Write something here..."></textarea>
            <p *ngIf="updete_termine==true" >le programme updete</p>
          </div>
        </div>
       
        <div class="modal-footer">
          <button *ngIf="updete_termine==false"  type="submit" class="btn btn-primary" >mise a jour</button>
          <button *ngIf="updete_termine==true" type="button" class="btn btn-secondary" data-dismiss="modal">ok</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--model of uplode multiple image-->


<!-- Modal -->
<div class="modal fade" id="imageuplode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">uplode image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="submit()">
          <div class="form-group">
              <label for="file">File</label>
                       <input 
                              formControlName="file"
                              id="file" 
                              type="file" 
                              class="form-control"
                              multiple="" 
                              (change)="onFileChange($event)">
                      
           </div>
           <button class="btn btn-primary" type="submit">Submit</button>
         </form>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ferme</button>
      </div>
    </div>
  </div>
</div>
