
<div class="card cardr text-center w-75 h-75 shadow-lg p-3 mb-5 rounded">
  
        <div class="btn-group bntrecher " role="group" aria-label="Basic example">
           <a type="button" (click)='dochoix(1)' class="btn btn-link  btn-lg" >Hotel</a>
           <a type="button"  (click)="dochoix(2)"class="btn btn-link  btn-lg">Billet d'avion</a>
        </div>
      <!--Recherche Hotel-->
      <form  *ngIf='choix==1'>
        <div class="form-row">
          <div class="col-md-3  ">
            <h6 class="sr-only" for="inlineFormInputGroup">Depart de</h6>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-building"></i></div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="destination">
            </div>
          </div>
          <div class="col-md-3 ">
           <div class="input-group">
             <div class="input-group-prepend">
                 <div  (click)="d.toggle()" class="input-group-text"> <i class="fas fa-calendar-alt"></i></div>
              
             </div>
             <input class="form-control"   [minDate]="minPickerDate" placeholder="date to in"
                    name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
            
           </div>
           
         </div>
         <div class="col-md-3  ">
           <div class="input-group mb-2">
             <div class="input-group-prepend">
               <div class="input-group-text"> <i class="fas fa-moon"></i></div>
             </div>
             <input type="number" class="form-control" placeholder="Nombre de nuits">
           </div>
         </div> 
         <div class="col-md-3 ">
           <div class="input-group mb-2">
             <div class="input-group-prepend">
               <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
             </div>
             <input type="text"  name="nbchamber"  [(ngModel)]="nbchamber"class="form-control" placeholder="Nombre de chambres">
           </div> 
         </div> 
      </div>
     
   <div class="form-row" *ngFor="let item of createRange(nbchamber)" >
     <div class="col-md-3 mt-2 ">
        <h6>chombre {{item}}:</h6>
    </div>
    <div class="col-md-3 ">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
        </div>
        <input type="number" class="form-control" placeholder="Adultes">
      </div> 
    </div>
    <div class="col-md-3  ">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
        </div>
        <input type="number" class="form-control" placeholder="Enfants">
      </div> 
    </div>
  </div>
  
   <div class="offset-md-10">
     <button type="button" class="btn btn-primary w-100">Recherche</button>
   </div>
       
     
       </form>
     
      <!--end Hotel-->
      <!--Vol-->
      <form *ngIf='choix==2' >
         <div class="row ">
           <div class="col-md-3">
            <div class="form-check mb-2">
              <input class="form-check-input" (click)="cheked(1)" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
              <label class="form-check-label font-weight-bold  "   for="exampleRadios1">
                Aller/Retour
              </label>
            </div>
           </div>
           <div class="col-md-3 offset-md-3">
            <div class="form-check  mb-2 ">
              <input class="form-check-input" (click)="cheked(2)" type="radio" name="exampleRadios" id="exampleRadios2" value="option2"checked >
              <label class="form-check-label  font-weight-bold " for="exampleRadios2">
                Aller/Simple
              </label>
            </div>
           </div>
           
         </div>
        
         <div class="form-row">
             <div class="col-md-3 ">
               <label class="sr-only" for="inlineFormInputGroup">Depart de</label>
               <div class="input-group mb-2">
                 <div class="input-group-prepend">
                   <div class="input-group-text"> <i class="fas fa-plane-departure"></i></div>
                 </div>
                 <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Depart de">
               </div>
             </div>
             <div class="col-md-3 "><i class="fas fa-exchange-alt "  *ngIf='aller==false'></i><i class="fas fa-arrow-right"  *ngIf='aller==true'></i></div>
             <div class="col-md-3 ">
               <label class="sr-only" for="inlineFormInputGroup">Arrivée a</label>
               <div class="input-group mb-2">
                 <div class="input-group-prepend">
                   <div class="input-group-text"><i class="fas fa-plane-arrival"></i></div>
                 </div>
                 <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Arrivée a">
               </div>
             </div>
             <div class="col-md-3   ">
               <div class="input-group mb-2">
               <div class="input-group-prepend">
                 <div class="input-group-text"><i class="fas fa-users"></i></div>
               </div>
               <select class="form-control">
                 <option  disabled>Classe</option>
                 <option value="deux">economique</option>
                 <option value="trois">premiére</option>
                 <option value="trois">classe affaire </option>
                </select>
               </div>
             </div>
             
         </div>
         <div class="form-row">
           <div class="col-md-3">
             <div  (click)="d.toggle()" class="input-group mb-2">
               <div class="input-group-prepend">
                 <div  class="input-group-text"> <i class="fas fa-calendar-alt"></i></div>
             </div>
             <input  class="form-control"   [minDate]="minPickerDate" placeholder="Aller"
                    name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
             </div>
             
           </div>
          
           <div class="col-md-3  offset-md-3" *ngIf='aller==false'>
             <div class="input-group mb-2">
               <div class="input-group-prepend">
                
                 
                 <div  (click)="d.toggle()" class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
              
             </div>
             <input class="form-control"   [minDate]="minPickerDate" placeholder="retour"
                    name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
             </div>
           </div>
          
       </div>
       <div class="form-row">
         <div class="col-md-3 ">
           <div class="input-group mb-2">
             <div class="input-group-prepend">
               <div class="input-group-text"><i class="fas fa-child"></i></div>
             </div>
             <input type="number" class="form-control" placeholder="Adulte">
           </div>
         </div>
         <div class="col-md-3 offset-md-3">
           <div class="input-group mb-2">
             <div class="input-group-prepend">
               <div class="input-group-text"><i class="fas fa-child"></i></div>
             </div>
             <input type="number" class="form-control" placeholder="Enfant">
           </div>
         </div>
         <div class="col-md-3  ">
           <div class="input-group mb-2">
             <div class="input-group-prepend">
               <div class="input-group-text"><i class="fas fa-child"></i></div>
             </div>
             <input type="number" class="form-control" placeholder="Bébes">
           </div>
         </div>
       </div>
         <div class=" offset-md-10">
           <button type="button" class="btn btn-primary w-100">Recherche</button>
         </div>
     
       </form>
     
      <!--end Vol-->
     
      </div>
