.header{
  
    padding: 6px;
    border-bottom: 5px solid #003580;
    background-color: rgb(255, 246, 206);
}
.button{
background: #003580;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
outline: none !important;

}
.buttonresete{
    outline: none !important;
background: rgb(255, 246, 206);
border: none;
color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;

}