<!--hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh-->

<nav class="navbar navbar-expand-lg navbar-dark ">
  <img src="./../../../assets/titre.png"  alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse mr-5 " id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active mr-2">
          <a class="nav-link" routerLink="accueil" >Accueil </a>
        </li>
        <li class="nav-item active mr-2">
          <a class="nav-link" routerLink="hotels">Hotels</a>
        </li>
        <li class="nav-item active mr-2">
          <a class="nav-link" routerLink="vols">Vols</a>
        </li>
        <li class="nav-item active mr-2">
          <a class="nav-link "  routerLink="voyages">Voyages</a>
        </li>
        <li class="nav-item active mr-2">
          <a class="nav-link "  routerLink="omra">Omra</a>
        </li>
        <li class="nav-item active mr-2">
            <a class="nav-link "  routerLink="contact">Contact</a>
          </li>
          <li *ngIf="!logout" class="nav-item active mr-2">
            <a class="nav-link "  routerLink="connexion">connexion</a>
          </li>
          <li *ngIf="logout" class="nav-item active mr-2">
            <a class="nav-link "  (click)="deconnexion()">deconnexion</a>
          </li>
          
      </ul>
    </div>
</nav>

