<link rel="stylesheet" href="./assets/dist/admint.min.css">
<div class="container">
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Dossiers</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0"  class="collapse show" id="collapseExample"  >
              <ul class="nav nav-pills flex-column">
                <li class="nav-item ">
                  <a href="#resur" data-toggle="tab" class="nav-link active">
                    <i class="fas fa-inbox"></i> Boite de reception
                    <span class="badge bg-primary float-right">12</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#envoyer" data-toggle="tab" class="nav-link">
                    <i class="far fa-envelope"></i> Message envoyé
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#Compose"  data-toggle="tab" class="nav-link">
                    <i class="far fa-file-alt"></i> Nouveau message
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
        <div class="tab-content ">
          <div  class="tab-pane active" id="resur">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Courrier</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Recherche">
                    <div class="input-group-append">
                      <div class="btn btn-primary">
                        <i class="fas fa-search"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive mailbox-messages">
                
                  <table class="table table-inbox table-hover">
                    <tbody>
                    <tr class="" *ngFor="let message of message_resu">
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                        <td class="view-message  dont-show" (click)="msg(message)"  href="#red"  data-toggle="tab">{{message.user_nom_de}}</td>
                        <td class="view-message "><b>{{message.objet}} </b>  <p class="p">{{message.message}}</p></td>
                        <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                        <td class="view-message  text-right">{{date(message)}}</td>
                    </tr>
                    
                    </tbody>
                    </table>
                  <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer p-0">
              </div>
            </div>
            <!-- /.card -->
          </div>
        <div  class="tab-pane " id="envoyer">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">Courrier</h3>
              <div class="card-tools">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="Recherche">
                  <div class="input-group-append">
                    <div class="btn btn-primary">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive mailbox-messages">
                <table class="table table-inbox table-hover">
                  <tbody>
                  <tr class="unread" *ngFor="let message of messages">
                      <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                      </td>
                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                      <td class="view-message  dont-show" (click)="msg(message)"  href="#red"  data-toggle="tab">{{message.user_nom_a}}</td>
                      <td class="view-message "><b>{{message.objet}}</b> <p class="p">{{message.message}}</p></td>
                      <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                      <td class="view-message  text-right">{{date(message)}}</td>
                  </tr>
                  
                  </tbody>
                  </table>
              
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-0">
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="tab-pane" id="Compose">
          <form  [formGroup]="registerForm"  (submit)='envoyermessage()'>
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Nouveau message</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-group">
                  <input class="form-control" 
                         [ngClass]="{ 'is-invalid': submitted && f.a.errors }"
                         formControlName="a"     
                         placeholder="À">
                  <div *ngIf="submitted && f.a.errors" class="invalid-feedback">
                      <div *ngIf="f.a.errors.required">Destination  requis</div>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-control" 
                         [ngClass]="{ 'is-invalid': submitted && f.objet.errors }"
                         formControlName="objet"
                        placeholder="Objet">
                 <div *ngIf="submitted && f.objet.errors" class="invalid-feedback">
                     <div *ngIf="f.objet.errors.required">Objet  requis</div>
                 </div>
                </div>
                <div class="form-group">
                    <textarea id="compose-textarea"
                               class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.message.errors }"
                               formControlName="message"
                              style="height: 300px"></textarea>
                  <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                      <div *ngIf="f.message.errors.required">Objet  requis</div>
                 </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <div class="float-right">
                  <button type="reset" class="btn btn-default mr-1"><i class="fas fa-times"></i> Discard</button>
                  <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Envoyer</button>
                </div>
              </div>
              <!-- /.card-footer -->
            </div>
          </form>
        
          <!-- /.card -->
        </div>
        <div *ngIf="message!=null" class="tab-pane" id="red">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">Lire le courrier</h3>

              <div class="card-tools">
                <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="mailbox-read-info">
                <h5>{{message.objet}}</h5>
                <h6>From: {{message.user_id_de}}
                  <span class="mailbox-read-time float-right">{{message.created_at|date:"d MMM y"}}</span></h6>
              </div>
              <!-- /.mailbox-read-info -->
              <div class="mailbox-controls with-border text-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Delete">
                    <i class="far fa-trash-alt"></i></button>
                  <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Reply">
                    <i class="fas fa-reply"></i></button>
                  <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Forward">
                    <i class="fas fa-share"></i></button>
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Print">
                  <i class="fas fa-print"></i></button>
              </div>
              <!-- /.mailbox-controls -->
              <div class="mailbox-read-message">
                <p>{{message.message}}</p>

               
                

               
                
              </div>
              <!-- /.mailbox-read-message -->
            </div>
          
            <!-- /.card-footer -->
            <div class="card-footer">
          </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  
</div>


