
<div style="background-color: rgb(3, 79, 241);color: rgb(255, 255, 255);">      <a class="ml-2" routerLink="accueil">    Accueil</a>  / <a routerLink="voyages">    Voyage</a>    /<a  routerLink="/index/voyages/voyage/{{categorie}}">   {{pays}}</a>   /<a >   {{titre}}</a></div>
<img class="w-100" src="http://127.0.0.1:8000/images/voyage/{{image_couverteur}}"alt="">
<div *ngIf="!reservation" class="container  mt-3 shadow-sm p-3 bg-white" >
  <div class="row w-100">
           <div class="col-md  ">
                <div >
                <h4>Programme du séjour</h4>
                <hr>
                <div  *ngFor="let prog of programmes" >
                  <div class="col ">
                    <h3> <strong> Jour  {{prog.jour}}</strong></h3>
                    <p>{{prog.description}}</p>
                  </div>
                </div>
                    </div>
                <div *ngIf='nbVisa>0'class="mt-5">
              <h4 >Visa</h4>
              <hr>
              <ul>
                <li  *ngFor="let visa of datavisa">
                  <p>{{visa.titre}}</p>
              </li>
            </ul>
                   </div>
                <div *ngIf="nbservice>0"class="mt-5" >
            <h4 >Services inclus</h4>
            <hr>
            
                <ul>
                  <li *ngFor="let service of dataservice">
                    <p>{{service.service}}</p>
                  </li>
                </ul>
                    </div>
                <div *ngIf="nbNonservice>0" class="mt-5" >
          <h4 >Service Non Inclus</h4>
          <hr>
          <ul>
            <li *ngFor="let service of dataNonservice">
              <p>{{service.service}}</p>
            </li>
          </ul>
        </div>
           </div>
           <div class="col-md ">
      <div class="  justify-content-center">
              <h4 style="text-align: center;">Tarif & Réservation</h4>
              <hr>
                  
                    <div class="row  justify-content-center">
                      
                    
                     <div class="col-8 col-3 ">
                      <div class="prix">
                        <h6 >à partir de {{prixAdulte}} <sup>TND</sup> par adulte</h6>
                      </div>
                      <select class="form-control" (change)="filterForeCasts($event.target.value)">
                        
                        <option *ngFor="let p of periodes; let i = index" value={{i}}>
                            {{p.date|date:'dd/MM/yyyy'}} au {{ajouter(p.date)|date:'dd/MM/yyyy'}}
                        </option>
                      </select>
                     </div>
                  
                  <div class="col-8 col-3 ">
                      <button style="color: rgb(255, 255, 255);" (click)="demande()" type="button" class="btn mt-2 btn-warning w-100"> Envoyae ma demande  <i class="fas fa-angle-right  ml-2"></i></button>
                  </div>
                </div>
        
    </div>
   
    <div class="row justify-content-center mt-3" >
      <div   class="text-white col-md-10 mb-3" *ngFor="let img of images" >
        <img  src="http://127.0.0.1:8000/images/voyage/{{img.name}}" class=" h-100 w-100" alt="...">
        
      </div>
    </div>
           </div>
  </div>
</div>
  
<div class="container mt-5" *ngIf="reservation">
  
  <div class="row  justify-content-center">
    <div  *ngIf="!login" class="col-md-6 m-1  shadow-sm p-3 mb-5 bg-white">
      <h5  >Déjà membre ? Connectez-vous !</h5>
      <form  class="form-signin mb-4 mt-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="col-md ">
            <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }"formControlName="email" type="email" class="form-control" id="inlineFormInputGroup" placeholder="Adresse e-mail">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">e-mail est requis</div>
                <div *ngIf="f.email.errors.email"> L'e-mail doit être valide</div>
            </div>
          </div>
  
          <div class="col-md ">
            <input formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" class="form-control" id="inlineFormInputGroup" placeholder="Mot de passe">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Mot de passe requis</div>
            <div *ngIf="f.password.errors.minlength">Mot de passe au moins 8 caractères </div>
        </div>
          </div>
          <div class="col-md">
            <button style="background-color: #003580;" class="btn  w-100 text-uppercase text-white" type="submit">se connecter</button>
          </div>
        </div>
        <h5 *ngIf="Unauthorised" class="text-danger">Adresse e-mail ou mot de passe incorrect.</h5>

      </form>

      <hr>
      <h5 >NOUVEAU ? inscrivez-vous </h5>
      <form   [formGroup]="registerForm2" (ngSubmit)="onSubmit2()"> 
        <div  *ngIf="error_registre" class="text-danger">L'e-mail existe déjà</div>
            <div class="form-row  justify-content-center">
              <div class="col-md">
                <select [ngClass]="{'is-invalid': submitted2 && this.registerForm2.get('civilite').value=='Civilité...'}" formControlName="civilite" name="civilite"  class="form-control">
                  <option  disabled>Civilité...</option>
                  <option value="1">Mr</option>
                  <option value="2">MMe</option>
                </select>
                <div *ngIf="submitted2 && this.registerForm2.get('civilite').value=='Civilité...'" class="invalid-feedback">
                  <div *ngIf="this.registerForm2.get('civilite').value=='Civilité...'">Civilité est requis</div>
              </div>
              </div>
                <div class="col-md">
                    <div class="input-group mb-2">
                        <input [ngClass]="{ 'is-invalid': submitted2 && f2.email.errors ||error_registre}"formControlName="email" type="email" class="form-control" id="inlineFormInputGroup" placeholder="Adresse e-mail">
                        <div *ngIf="submitted2 && f2.email.errors" class="invalid-feedback">
                            <div *ngIf="f2.email.errors.required">Email est requis</div>
                            <div *ngIf="f2.email.errors.email"> L'e-mail doit être une adresse e-mail valide</div>
                        </div>
                        <br>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="input-group mb-2">
                        <input  [ngClass]="{ 'is-invalid': submitted2 && f2.tel.errors }"formControlName="tel" type="text" class="form-control" id="inlineFormInputGroup" placeholder="telephone">
                        <div *ngIf="submitted2 && f2.tel.errors" class="invalid-feedback">
                            <div *ngIf="f2.tel.errors.required">tel est requis</div>
                            <div *ngIf="f2.tel.errors.minlength">tel doit être  8 caractères </div>
                        </div>
                    </div>
                  </div>
            </div>
         
         <div class="form-row">
          <div class="col-md">
            <div class="input-group mb-2">
                <input  [ngClass]="{ 'is-invalid': submitted2 && f2.nom.errors }"formControlName="nom" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Nom">
                <div *ngIf="submitted2 && f2.nom.errors" class="invalid-feedback">
                    <div *ngIf="f2.nom.errors.required">nom est requis</div>
                   
                  
                </div>
            </div>
          
          </div>
          <div class="col-md">
            <input  type="text" [ngClass]="{ 'is-invalid': submitted2 && f2.Prenom.errors }" formControlName="Prenom" class="form-control" placeholder="Prenom">
            <div *ngIf="submitted2 && f2.Prenom.errors" class="invalid-feedback">
              <div *ngIf="f2.Prenom.errors.required">Prenom est requis</div>
          </div>
          </div>
         
          <div class="col-md">
            <div class="input-group mb-2">
                <input formControlName="password"  [ngClass]="{ 'is-invalid': submitted2 && f2.password.errors }" type="password" class="form-control" id="inlineFormInputGroup" placeholder="mot de passe">
                <div *ngIf="submitted2 && f2.password.errors" class="invalid-feedback">
                    <div *ngIf="f2.password.errors.required">Mot de passe requis</div>
                    <div *ngIf="f2.password.errors.minlength">Mot de passe doit être d'au moins 8 caractères </div>
                </div>
            </div>
          </div>
          
         </div>
      <div class="form-row">
        <div class="col-md mt-1  ">
          <button type="submit" style="background-color: #003580;" class="btn  float-right"><h6 style="color: rgb(255, 255, 255);">créer compte</h6></button>
         </div>
      </div>
      </form>
      
     
    </div>

    <div class="col-md-4 m-1 shadow-sm p-3 mb-5 bg-white">
      <button  (click)="reservation=!reservation" class="btn text-white w-100 mb-2 btn-danger ">Retoure</button>
      <img class="w-100" style="height: 200px;" src="http://127.0.0.1:8000/images/voyage/{{image_couverteur}}"alt="">
      <h6 class="mt-2"> <strong>Voyage a {{pays}}</strong> </h6>
      <h6 *ngIf="user!=null" ><strong>Nom:</strong> {{user.name}} {{user.surname}} </h6>
      <h6><strong>Titre de voyage:</strong>  {{titre}}</h6>
      <h6><strong>Date Début :</strong> {{date|date:"d MMM y"}}</h6>
      <h6><strong>Date Fin :</strong> {{ajouter(date)|date:"d MMM y"}}</h6>
      <h6><strong>Prix par Adulte :</strong> {{prixAdulte}} <sup>TND</sup></h6>
      <h6><strong>Prix par Enfant :</strong> {{prixEnfant}} <sup>TND</sup></h6>
      <form [formGroup]="registerForm3">
        <div class="form-row">
          <div class="col-md-5">
            <strong>  Nombre adulte :</strong>
            <input [ngClass]="{ 'is-invalid': submitted3 && f3.adulte.errors }"formControlName="adulte" type="number" class="form-control" id="inlineFormInputGroup" min="1" max="5" placeholder="Nombre adulte">
            <div *ngIf="submitted3 && f3.adulte.errors" class="invalid-feedback">
                <div *ngIf="f3.adulte.errors.required">Nombre adulte requis</div>
            </div>
            <div class="text-danger" style="font-size: 13px;" *ngIf="this.registerForm3.get('adulte').value<=0">Au mois un adulte ></div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-5 ">
             <strong>Nombre enfant :</strong>
            <input [ngClass]="{ 'is-invalid': submitted3 && f3.enfant.errors }"formControlName="enfant" type="number" class="form-control" id="inlineFormInputGroup" min="0" max="4" placeholder="Nombre enfant">
            <div *ngIf="submitted3 && f3.enfant.errors" class="invalid-feedback">
                <div *ngIf="f3.enfant.errors.required">nombre enfant requis</div>
            </div>
            <div class="text-danger" style="font-size: 13px;" *ngIf="this.registerForm3.get('enfant').value<0">Nombre enfant positif</div>
          </div>
        </div>
  

      </form>
      <h6 class="mt-2"><strong>Prix Toutale :</strong>{{(prixAdulte * registerForm3.get("adulte").value)+(prixEnfant*registerForm3.get("enfant").value)}} <sup>TND</sup></h6>
      <div class="row">
        <div class="col-md mt-1  ">
          <div class="form-check mb-2">
            <input [(ngModel)]="condition" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label [ngClass]="{'text-danger':err_condition}" class="form-check-label " for="defaultCheck1">
              Accepter condition générale de vente
            </label>
          </div>
          <button *ngIf="login&&!reserve_submitted" (click)="reserver()" type="submit" style="background-color: #003580;" class="btn w-100 "><h6 style="color: rgb(255, 255, 255);">Envoyae</h6></button>
         </div>
      </div>
      <div (click)="window_print()" class="row justify-content-center" *ngIf="reserve_submitted&&reserver_valide">
        <div class="col-md">
          <div class="alert alert-success">
            reservation valide print <a ><i class="fas fa-print text-prymer"></i></a>
          </div>

        </div>
      </div>

    </div>
  </div>
 
</div>
<div class="container mt-5 shadow-sm p-3 " *ngIf="reserver_valide"  class="collapse" id="print-section" >
  <section class="invoice p-5" >
    <!-- title row -->
    <div class="row">
      <div class="col-12">
        <h2 class="page-header">
          <i class="fas fa-globe"></i> Utecom
          <small style="font-size: 15px;" class="float-right">Date: {{myDate()}}</small> <br>
        </h2>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        Des
        <address>
          <strong>Utecom voyage</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          Telephone: (804) 73 233 000<br>
          Email: utecomvoyage@utecom-tn.tn
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        À
        <address>
          <strong>{{user.name}} {{user.surname}}</strong><br>
          Telephone: {{user.tel}}<br>
          Email: {{user.email}}
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <b>Reservation #RV{{reservation_print_voyage.id}}</b><br>
        <strong>Titre:</strong> {{reservation_print_voyage.titer}} <br>
        <strong>Pays:</strong> {{reservation_print_voyage.pays}} <br>
        <strong>Date debut:</strong> {{reservation_print_voyage.date|date:"d MMM y"}} <br>
        <strong>Jour:</strong> {{reservation_print_voyage.jour}}<br>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row justify-content-md-center">
      <div class="col-11 table-responsive">
        <table class="table ">
          <thead>
          <tr>
            <th>Adulte</th>
            <th>Enfant </th>
          </tr>
          </thead>
          <tbody>
          <tr  >
            <td>{{reservation_print_voyage.adulte}}</td>
            <td>{{reservation_print_voyage.enfant}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>

    <div class="row">
      <!-- accepted payments column -->
      <div class="col-6">
        <p class="lead">Payment Methods:</p>
       

        <p class="text-muted text-danger well well-sm shadow-none" style="margin-top: 10px;">
          Attention.
          Les prix et les disponibilités évoluent en temps réel en fonction des réservations de nos clients.
          Ainsi, certains hôtels peuvent ne plus être disponibles au moment de la réception de votre règlement ou changent de prix. C'est pourquoi, nous vous invitons à procéder au paiement au plus vite afin de valider votre réservation.
        </p>
      </div>
      <!-- /.col -->
      <div class="col-5">
        <p class="lead">Tarife de {{reservation_print_voyage.created_at|date:"d-MM-y"}}</p>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:50%"> Total partiel:</th>
              <td> {{(reservation_print_voyage.prixAdulte *reservation_print_voyage.adulte)+(reservation_print_voyage.prixEnfant*reservation_print_voyage.enfant)}} TND</td>
            </tr>
            <tr>
              <th>Tax (0)</th>
              <td>0</td>
            </tr>
            <tr>
              <th>Total:</th>
              <td> {{(reservation_print_voyage.prixAdulte *reservation_print_voyage.adulte)+(reservation_print_voyage.prixEnfant*reservation_print_voyage.enfant)}} TND</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.col -->
    </div>
    

  </section>
  <!-- /.content -->

</div>