



/* Ajout d'une petire image de fond juste pour le fun */

  
  
  /*Pas important, juste pour positioner la liste déroulante en milieude page */
  .bloc {
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
    
  }
  
  /*Réinitilaisation de la liste déroulante*/
  select {
    appearance: none;
    outline: 0;
    border: 0 !important;
    background: #F9F9F9;
    background-image: none;
    box-shadow: none;
    font-size: 1.2em;
  }
  
  /*Ajout des couleurs de fond pour chaque option */
 
  
  /* Mise en forme de la div .select*/
  .select {
    position: relative;
    width: 350px;
    height: 45px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #CED4DA;
  }
  
  /* Mise en forme de la balise select*/
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 15px;
    color: #555555;
    cursor: pointer;
  }
  
  
  /* Mise en place de la flèche */
  .select::after {
    content: '\276F';
    position: absolute;
    top: 20%;
    right: 0;
    padding: 0 15px;
    background: white;
    pointer-events: none;
    transform: rotate(90deg);
    font-size: 1.5em;
    background: #F9F9F9;
  }
  
  
  .select:hover::after {
    color: #FA6141;
  }

  ngb-carousel{
  
    width: 500px;
    height: 350px;
}
img{
    width: 500px;
    height: 350px;
}
  /*hhhhhhhhhhhhhhhhhhhhhhhhhhh*/
  @media print {
    .printMe {
      visibility: visible
    }
  }
  /*22222222222222222222*/

:root {
	--white: #ffffff;
	--black: #000000;
	--blue:#003580;
	--gray:#d1c9c9;
	--box-shadow1:0px 0px 18px 2px rgba(10, 55, 90, 0.15);
}
body{
	font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #637280;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
:focus{
    outline: 0px solid transparent !important;
}
.timeline {
    padding: 50px 0;
    position: relative;
}
.timeline-nodes {
        padding-bottom: 25px;
        position: relative;
    }
.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}
.timeline h3, .timeline p {
    padding: 5px 15px;
} 
.timeline h3{
    font-weight: lighter;
    background: var(--blue);
}
.timeline p, .timeline time {
    color: var(--blue)
}
.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline-content {
    border: 1px solid var(--blue);
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2)
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
}
 
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 100%;
    width: 0;
    border-left: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-image {
    position: relative;
    z-index: 100;
}
.timeline-image::before {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px dashed var(--blue);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 1;
    

}
.timeline-image h1 {
    position: relative;
    z-index: 100;
}
/*small device style*/

@media (max-width: 767px) {
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
    text-align: left
}
.timeline-nodes:nth-child(even) {
    flex-direction: row;
}
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 4%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline h3 {
    font-size: 1.7rem;
}
.timeline p {
    font-size: 14px;
}
.timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
    /*transform: translateX(-50%;);*/
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
}
.timeline-image::before {
    width: 65px;
    height: 65px;
}
}

/*extra small device style */
@media (max-width: 575px) {
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
}
.timeline-image {
    position: absolute;
    left: -5%;
    }
.timeline-image::before {
    width: 60px;
    height: 60px;
}
}
div h6 a{
    cursor: pointer;
    
}


