
  
  <div class="container mt-5">
      <div class="row justify-content-center ">
          <!--image de voyage -->
          <div  class="col-7 shadow p-3 mb-5 bg-white rounded">
              <div  id="couvert" class="card  text-white">
                <img class="card-img w-100 " src="http://127.0.0.1:8000/images/voyage/{{voyages.image}}"  alt="">
                <div class="card-img-overlay">
                  <h5  class="card-title" style="text-align: justify;">{{voyages.titre}}</h5>
                  <h5 class="card-text" style="text-align:justify;">{{voyages.nbjour}} Jours /  {{voyages.nbjour-1}} Nuits</h5>
                  
                </div>
              </div>
          </div>
            <!--end image voyage-->
            <!--afichage de periode-->
          <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Reservation</h5>
                    <hr>
                    
                        <div class="col bloc">
                           <div class="select">
                            <select class="w-100" (change)="filterForeCasts($event.target.value)">
                              
                                <option *ngFor="let p of periodes; let i = index" value={{i}}>
                                    {{p.date|date:'dd/MM/yyyy'}} au {{ajouter(p.date)|date:'dd/MM/yyyy'}}
                                </option>
                              </select>
                           </div>
                           
                        </div>
                        <div class="row mt-5 justify-content-center">
                         <h1><span class="badge badge-pill badge-danger">{{prix}} TND/adulte</span></h1>
                        </div>
                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-warning w-50">Réserver</button>
                        </div>
                        
                    
                </div>
              </div>
           

          </div>
           <!--afficher programme-->
      </div>
  </div>


 

 
    
  
  
<div class="container">
    <h4>Programme de voyage</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline11">
                <div class="timeline" *ngFor="let prog of programmes">
                    <a href="#" class="timeline-content">
                        <span class="year">{{prog.jour}}</span>
                        <div class="inner-content">
                            <h3 class="title">Jour  {{prog.jour}}</h3>
                            <p class="description">
                                {{prog.description}}
                            </p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

