<div class="container">
  <div class=" row justify-content-md-center " *ngIf="reservations==null">
    <div class="col-md ">
      <div class="alert alert-danger text-center">
        ne existe ocunet reservation 
      </div>
  
    </div>
   
  </div>
</div>
<div class="container shadow-sm p-3 mb-1 bg-white" *ngIf="hotel==null&&reservations!=null"> 
    <div class="row">
        <div class="col-md-1 mt-4">
            <div class="form-group">
                <select [(ngModel)]="nbitem" class="form-control" >
                  <option value="10">10</option>
                  <option value="25" >25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
          </div>
          <div class="col-md-3">
            Etas :
            <select (change)="filterForeCasts($event.target.value)" class="form-control"  >
              <option selected  value="">Tout</option>
              <option    value="en attente"> en attente</option>
              <option    value="valider">confirmé</option>
              <option    value="annuler">annulée</option>
            </select>
          </div>
          <div *ngIf="hotels!=null" class="col-md-3 mb-2">
            hôtels :
           <select (change)="filterForeVoyage($event.target.value)" class="form-control"  >
             <option selected  value="">Tout</option>
             <option  *ngFor="let v of hotels"    value="{{v.nom}}"> {{v.nom}}</option>
           </select>
          </div>
        <div class="col-md-3 mb-2  ">
          Recherche :
            <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="...">
           
          </div>
       
    </div>
    <div class="row">
      <table class="table  table-responsive-md table-striped text-center">
       
        <thead >
        <tr>
            <th>#</th>
            <th>Client</th>
            <th>hotel</th>
            <th>date darive</th>
            <th>date depart</th>
            <th>etas</th>
            <th>prix</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let R of reservations| filter: searchText|filter: hotelsearchText|filter:searchTextetas|paginate:{itemsPerPage: nbitem, currentPage:p};let i=index;">
                <td>{{R.reservation.created_at|date:"d MMM, y"}} <h6  style="font-size: 10px; text-align:center;">{{R.reservation.created_at|date:"h:mm:ss a z"}}</h6> <i (click)="edite(R)">Détails </i></td>
                <td>
                    <div class="btn-group w-100">
                        <button type="button" class="btn w-100 btn-danger dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{R.user.name}}
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#"><i class="fas fa-phone-alt"></i> {{R.user.tel}}</a>
                          <a class="dropdown-item" href="#"><i class="fas fa-envelope"></i> {{R.user.email}}</a>
                        </div>
                      </div>
                </td>
                <td class="link" routerLink="/admin/hotel/hotelid/{{R.hotel.id}}"> {{R.hotel.nom}} </td>
                <td> {{R.reservation.date_in}} </td>
                <td>{{R.reservation.date_out}}</td>
                <td>{{traduction(R.reservation.etat)}} <br> <i *ngIf="R.reservation.etat!='annuler'" (click)="annulation(R.reservation.id)" class="fas fa-window-close text-danger "></i> <br> <i *ngIf="R.reservation.etat!='valider'&&R.disponibilite" (click)="vaider(R.reservation.id)" class="fas fa-check text-success"></i></td>
                <td><span class="badge badge-warning">{{prixt(R.reservation)}} <sup>TND</sup></span> <br> <i *ngIf="R.reservation.etat!='valider'&&!R.disponibilite" class="text-danger">indisponible</i></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center" *ngIf="nbreservation>nbitem">
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>
  </div>
 
 <div class="container " *ngIf="hotel!=null"  >
     <div class="row justify-content-center ">
         <div class="col-sm-6 shadow-sm p-3 mb-5 bg-white">
          <button  class="btn  btn-danger w-100 mb-2 " (click)="valide_reservation=false;hotel=null;chambres=null" >Retour</button>

             <img class="w-100 h-50 mb-1" src="http://127.0.0.1:8000/images/hotels/hotel/{{hotel.hotel.image}}" alt="">
            <div id="printSectionId" >
              <h6 style="text-align: right;font-size: 13px;">Reservation: N° {{hotel.reservation.id}} </h6>
             
                <h6  style="font-size: 15px;font-family: system-ui;">{{hotel.hotel.nom}}</h6>
                
                
              <h5>{{hotel.pension.titre}}<span style="float:right">détails du client:</span> </h5>
              <h5><b>Date d'arrivée: </b>{{hotel.reservation.date_in|date:"d MMM, y"}}  <span style="float:right">{{hotel.user.name}} {{hotel.user.surname}}</span></h5>
              <h5><b>Date de départ: </b>{{hotel.reservation.date_out|date:"d MMM, y"}}  <span style="float:right">{{hotel.user.tel}}</span></h5>
              <h5 style="text-align: right;" >{{hotel.user.email}}</h5> 
                
                
              
                   <div *ngFor="let c of chambres;let i=index;">
                    <h5><b>{{c.type}}: </b> <span *ngIf="c.adulte!=0">{{c.adulte}}  Adulte </span> <span *ngIf="c.enfant!=0">{{c.enfant}} Enfant </span> <span *ngIf="c.bebe!=0">{{c.bebe}} Bebe</span> </h5>
                   </div>

                <div >
                  <h1 style="text-align: right;"><span class="badge badge-warning">{{prixt(hotel.reservation)}} <sup>TND</sup></span></h1>
                </div>
              
            </div>
         <button style="background-color:rgb(71, 4, 116);" (click)="window_print()" type="button" class="btn1 btn-link float-right ml-1">Print</button>
         </div>
        
     </div>
    
 </div>

 <div class="container mt-5" *ngIf="valide_reservation"  class="collapse" id="print-section">
  <section class="invoice  p-5" >
    <!-- title row -->
    <div class="row">
      <div class="col-12">
        <h2 class="page-header">
          <i class="fas fa-globe"></i> Utecom
          <small style="font-size: 15px;" class="float-right">Date: {{myDate()}}</small> <br>
          <small   (click)="window_print()" style="font-size: 15px; color: rgb(0, 2, 143);cursor: pointer;" class="float-right"><i class="fas fa-print"></i> Print</small>
        </h2>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        Des
        <address>
          <strong>Utecom voyage</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          Telephone: (804) 73 233 000<br>
          Email: utecomvoyage@utecom-tn.tn
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        À
        <address>
          <strong>{{hotel.user.name}} {{hotel.user.surname}}</strong><br>
          Telephone: {{hotel.user.tel}}<br>
          Email: {{hotel.user.email}}
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <b>Reservation #RH{{hotel.reservation.id}}</b><br>
        <strong>Hotel:</strong> {{hotel.hotel.nom}}<br>
        <strong>Adresse:</strong> {{hotel.hotel.adresse}} <br>
        <strong>Arrive:</strong> {{hotel.reservation.date_in|date:"d MMM, y"}}   <br>
        <strong>Depart:</strong> {{hotel.reservation.date_out|date:"d MMM, y"}} <br>
        {{hotel.pension.titre}}
        
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row justify-content-md-center">
      <div class="col-11 table-responsive">
        <table class="table ">
          <thead>
          <tr>
            <th>Chambre</th>
            <th>Adulte</th>
            <th>Enfant </th>
            <th>Bebe</th>
          </tr>
          </thead>
          <tbody>
          <tr   *ngFor="let c of chambres;let i=index;">
            <td>{{c.type}}</td>
            <td>{{c.adulte}}</td>
            <td>{{c.enfant}}</td>
            <td>{{c.bebe}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
      <!-- accepted payments column -->
      <div class="col-6">
        <p class="lead">Payment Methods:</p>
       

        <p class="text-muted text-danger well well-sm shadow-none" style="margin-top: 10px;">
          Attention.
          Les prix et les disponibilités évoluent en temps réel en fonction des réservations de nos clients.
          Ainsi, certains hôtels peuvent ne plus être disponibles au moment de la réception de votre règlement ou changent de prix. C'est pourquoi, nous vous invitons à procéder au paiement au plus vite afin de valider votre réservation.
        </p>
      </div>
      <!-- /.col -->
      <div class="col-5">
        <p class="lead">Tarife de {{hotel.reservation.created_at|date:"d-MM-y"}}</p>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:50%"> Total partiel:</th>
              <td> {{hotel.reservation.prix}}  TND</td>
            </tr>
            <tr>
              <th>Taxe</th>
              <td> {{taxeHotel(hotel.reservation)}}</td>
            </tr>
            <tr>
              <th>Total:</th>
              <td> {{prixt(hotel.reservation)}}  TND</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.col -->
    </div>
    

  </section>
  <!-- /.content -->

</div>