<!--recherche de hotel-->
<h5 class=" text-center mt-3 mb-3">Trouvez des offres sur des hôtels, des hébergements indépendants et bien plus encore... </h5>
<div id="recherceh" class="card cardr  w-75  shadow-lg p-3 mb-5 rounded">
  <!--Recherche Hotel-->
  <form [formGroup]="registerForm"  (submit)='rechercher_hotel()'  >
     <div class="form-row">
         <div class="col-md-3  ">
           <h6 class="sr-only" for="inlineFormInputGroup">Depart de</h6>
           <div class="input-group mb-2">
             <div class="input-group-prepend">
               <div class="input-group-text"><i class="fas fa-building"></i></div>
             </div>
                <select  class="form-control"   [ngClass]="{ 'is-invalid':submitted && this.registerForm.get('ville').value=='choisire un ville' }"  formControlName="ville"  >
                  <option disabled >
                    choisire un ville
                </option>
                    <option   *ngFor="let v of ville; let i = index"  [ngValue]="v.id">
                        {{v.nom}}
                    </option>
                  </select>
                  <div *ngIf="submitted && this.registerForm.get('ville').value=='choisire un ville'" class="invalid-feedback">
                    <div *ngIf="this.registerForm.get('ville').value=='choisire un ville'">select ville </div>
                   </div>
           </div>
               </div>
         <div class="col-md-3 ">
          <div  class="input-group">
            <div (click)="d.toggle()"  class="input-group-prepend">
                <div  class="input-group-text"> <i class="fas fa-calendar-alt"></i></div>
            </div>
            <input  [ngClass]="{ 'is-invalid': submitted && this.date=='arrivée'}" formControlName="dp"   class="form-control"   [minDate]="minPickerDate" placeholder="{{date}}"
                   name="dp" [(ngModel)]="model" ngbDatepicker (ngModelChange)="onDateChange($event)" #d="ngbDatepicker">
          </div>
          <div class="text-danger" style="font-size: 13px;" *ngIf="submitted && this.date=='arrivée'">select date</div>

        </div>
        <div class="col-md-3  ">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"> <i class="fas fa-moon"></i></div>
            </div>
              <select placeholder="Nombre de nuits" class="form-control" formControlName="nb_nuit" [ngClass]="{ 'is-invalid':submitted &&  f.nb_nuit.errors }">
                <option *ngFor="let l of createRange(30);let i=index" [ngValue]="i+1">{{i+1}} nuit</option>
              </select>
        </div>
        <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.nb_nuit.errors">nombre de nuit et obligatoire</div>
        </div> 
        <div class="col-md-3 ">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
            </div>
            <select  class="form-control"      formControlName="nb_chambre"  >
                <option *ngFor="let l of createRange(5);let i=index"  [ngValue]="i+1"> {{i+1}} chambre(s)</option>
                </select>
          </div> 
        </div> 
     </div>
    
         <div class="form-row" *ngIf="registerForm.get('nb_chambre').value>0" >
                   <div class="col-md-3 mt-2 ">
                      <h6>chombre 1:</h6>
                  </div>
                  <div class="col-md-3 ">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
                      </div>
                      <select  class="form-control" [ngClass]="{ 'is-invalid':submitted &&  f.number_adulte1.errors }"   formControlName="number_adulte1" >
                       <option *ngFor="let l of createRange(5);let i=index"  [ngValue]="i+1"> {{i+1}} adultes(s)</option>
                       </select>
                   <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_adulte1.errors&&registerForm.get('nb_chambre').value>0">nombre de adulte et obligatoire</div>
                   </div> 
                  </div>
                  <div class="col-md-3  ">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
                      </div>
                      <select  class="form-control" [ngClass]="{ 'is-invalid':submitted &&  f.number_enfants1.errors }"  formControlName="number_enfants1"  >
                       <option   [ngValue]="0">Aucun enfant</option>
                       <option *ngFor="let l of createRange(5);let i=index"  [ngValue]="i+1"> {{i+1}} enfant(s)</option>
                       </select>
                      <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_enfants1.errors&&registerForm.get('nb_chambre').value>0">nombre de enfant et obligatoire</div>
       
                   </div> 
                  </div>
                </div>
                <div class="form-row" *ngIf="registerForm.get('number_enfants1').value>0&&registerForm.get('nb_chambre').value>0">
                 <div class="col-md-3">
                   <h6>Age Enfant :</h6>
                 </div>
             <div class="col-md-1  " *ngIf="registerForm.get('number_enfants1').value>0">
              <div class="input-group mb-2">
                <select  class="form-control"   formControlName="age_enfants11"  >
                 <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}}</option>
                 </select>
                <div style="font-size: 13px;" class="text-danger" ></div>
       
             </div> 
            </div>
            <div class="col-md-1  " *ngIf="registerForm.get('number_enfants1').value>1">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants12"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1 " *ngIf="registerForm.get('number_enfants1').value>2">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants13"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}}</option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1  " *ngIf="registerForm.get('number_enfants1').value>3">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants14"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1  " *ngIf="registerForm.get('number_enfants1').value>4">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants15"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
                 </div>
                <div class="form-row" *ngIf="registerForm.get('nb_chambre').value>1" >
                   <div class="col-md-3 mt-2 ">
                      <h6>chombre 2:</h6>
                  </div>
                  <div class="col-md-3 ">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
                      </div>
                      <select  class="form-control"  [ngClass]="{ 'is-invalid':submitted &&  f.number_adulte2.errors }"    formControlName="number_adulte2" >
                       <option *ngFor="let l of createRange(5);let i=index"  [ngValue]="i+1"> {{i+1}} adulte(s)</option>
                       </select>
                      <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_adulte2.errors&&registerForm.get('nb_chambre').value>1">nombre de adulte et obligatoire</div>
                   </div> 
                  </div>
                  <div class="col-md-3  ">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
                      </div>
                      <select  class="form-control" [ngClass]="{ 'is-invalid':submitted &&  f.number_enfants3.errors }"  formControlName="number_enfants2"  >
                       <option   [ngValue]="0">Aucun enfant</option>
                       <option *ngFor="let l of createRange(5);let i=index"  [ngValue]="i+1"> {{i+1}} enfant(s)</option>
                       </select>
                      <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_enfants2.errors&&registerForm.get('nb_chambre').value>1">nombre de enfant et obligatoire</div>
                   </div> 
                  </div>
                </div>
                <div class="form-row"*ngIf="registerForm.get('number_enfants2').value>0&&registerForm.get('nb_chambre').value>1">
                 <div class="col-md-3">
                   <h6>Age Enfant :</h6>
                 </div>
             <div class="col-md-1  " *ngIf="registerForm.get('number_enfants2').value>0">
              <div class="input-group mb-2">
                <select  class="form-control"   formControlName="age_enfants21"  >
                 <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}}</option>
                 </select>
                <div style="font-size: 13px;" class="text-danger" ></div>
       
             </div> 
            </div>
            <div class="col-md-1  " *ngIf="registerForm.get('number_enfants2').value>1">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants22"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1 " *ngIf="registerForm.get('number_enfants2').value>2">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants23"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}}</option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1  " *ngIf="registerForm.get('number_enfants2').value>3">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants24"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1  " *ngIf="registerForm.get('number_enfants2').value>4">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants25"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
                </div>
                <div class="form-row" *ngIf="registerForm.get('nb_chambre').value>2" >
                   <div class="col-md-3 mt-2 ">
                      <h6>chombre 3:</h6>
                  </div>
                  <div class="col-md-3 ">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
                      </div>
                      <select  class="form-control"  [ngClass]="{ 'is-invalid':submitted &&  f.number_adulte3.errors }" formControlName="number_adulte3" >
                       <option *ngFor="let l of createRange(5);let i=index"  [ngValue]="i+1"> {{i+1}} adulte(s)</option>
                       </select>
                      <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_adulte3.errors&&registerForm.get('nb_chambre').value>2">nombre de adulte et obligatoire</div>
                   </div> 
                  </div>
                  <div class="col-md-3  ">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
                      </div>
                      <select  class="form-control" [ngClass]="{ 'is-invalid':submitted &&  f.number_enfants3.errors }"  formControlName="number_enfants3"  >
                       <option   [ngValue]="0">Aucun enfant</option>
                       <option *ngFor="let l of createRange(5);let i=index"  [ngValue]="i+1"> {{i+1}} enfant(s)</option>
                       </select>
                    
                      <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_enfants3.errors&&registerForm.get('nb_chambre').value>2">nombre de enfant et obligatoire</div>
                   </div> 
                  </div>
                </div>
                <div class="form-row"*ngIf="registerForm.get('number_enfants3').value>0&&registerForm.get('nb_chambre').value>2">
                 <div class="col-md-3">
                   <h6>Age Enfant :</h6>
                 </div>
             <div class="col-md-1  " *ngIf="registerForm.get('number_enfants3').value>0">
              <div class="input-group mb-2">
                <select  class="form-control"   formControlName="age_enfants31"  >
                 <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}}</option>
                 </select>
                <div style="font-size: 13px;" class="text-danger" ></div>
       
             </div> 
            </div>
            <div class="col-md-1  " *ngIf="registerForm.get('number_enfants3').value>1">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants32"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1 " *ngIf="registerForm.get('number_enfants3').value>2">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants33"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}}</option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1  " *ngIf="registerForm.get('number_enfants3').value>3">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants34"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1  " *ngIf="registerForm.get('number_enfants3').value>4">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants35"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
                </div>
                <div class="form-row" *ngIf="registerForm.get('nb_chambre').value>3" >
                   <div class="col-md-3 mt-2 ">
                      <h6>chombre 4:</h6>
                  </div>
                  <div class="col-md-3 ">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
                      </div>
                      <select  class="form-control"  [ngClass]="{ 'is-invalid':submitted &&  f.number_adulte4.errors }" formControlName="number_adulte4" >
                       <option *ngFor="let l of createRange(5);let i=index"  [ngValue]="i+1"> {{i+1}} adulte(s)</option>
                       </select>
                      <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_adulte4.errors&&registerForm.get('nb_chambre').value>3">nombre de Adultes et obligatoire</div>
       
                   </div> 
                  </div>
                  <div class="col-md-3  ">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
                      </div>
                      <select  class="form-control"  [ngClass]="{ 'is-invalid':submitted &&  f.number_enfants4.errors }" formControlName="number_enfants4"  >
                       <option   [ngValue]="0">Aucun enfant</option>
                       <option *ngFor="let l of createRange(5);let i=index"  [ngValue]="i+1"> {{i+1}} enfant(s)</option>
                       </select>
                      <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_enfants4.errors&&registerForm.get('nb_chambre').value>3">nombre de Enfants et obligatoire</div>
                   </div> 
                  </div>
                </div>
                <div class="form-row" *ngIf="registerForm.get('number_enfants4').value>0&&registerForm.get('nb_chambre').value>3">
                 <div class="col-md-3">
                   <h6>Age Enfant :</h6>
                 </div>
             <div class="col-md-1  " *ngIf="registerForm.get('number_enfants4').value>0">
              <div class="input-group mb-2">
                <select  class="form-control"   formControlName="age_enfants41"  >
                 <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}}</option>
                 </select>
                <div style="font-size: 13px;" class="text-danger" ></div>
       
             </div> 
            </div>
            <div class="col-md-1  " *ngIf="registerForm.get('number_enfants4').value>1">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants42"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1 " *ngIf="registerForm.get('number_enfants4').value>2">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants43"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}}</option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1  " *ngIf="registerForm.get('number_enfants4').value>3">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants44"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1  " *ngIf="registerForm.get('number_enfants4').value>4">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants45"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
                </div>
                <div class="form-row" *ngIf="registerForm.get('nb_chambre').value>4" >
                   <div class="col-md-3 mt-2 ">
                      <h6>chombre 5:</h6>
                  </div>
                  <div class="col-md-3 ">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
                      </div>
                      <select  class="form-control"  [ngClass]="{ 'is-invalid':submitted &&  f.number_adulte5.errors }" formControlName="number_adulte5" >
                       <option *ngFor="let l of createRange(5);let i=index"  [ngValue]="i+1"> {{i+1}} adulte(s)</option>
                       </select>
             
                      <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_adulte5.errors&&registerForm.get('nb_chambre').value>4">nombre de Adultes et obligatoire</div>
                   </div> 
                  </div>
                  <div class="col-md-3  ">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fas fa-hotel"></i></div>
                      </div>
                      <select  class="form-control"  [ngClass]="{ 'is-invalid':submitted &&  f.number_enfants5.errors }" formControlName="number_enfants5"  >
                       <option   [ngValue]="0">Aucun enfant</option>
                       <option *ngFor="let l of createRange(5);let i=index"  [ngValue]="i+1"> {{i+1}} enfant(s)</option>
                       </select>
                      <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_enfants5.errors&&registerForm.get('nb_chambre').value>4">nombre de Enfants et obligatoire</div>
       
                   </div> 
                  </div>
                </div>
                <div class="form-row"*ngIf="registerForm.get('number_enfants5').value>0&&registerForm.get('nb_chambre').value>4">
                 <div class="col-md-3">
                   <h6>Age Enfant :</h6>
                 </div>
             <div class="col-md-1  " *ngIf="registerForm.get('number_enfants5').value>0">
              <div class="input-group mb-2">
                <select  class="form-control"   formControlName="age_enfants51"  >
                 <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}}</option>
                 </select>
                <div style="font-size: 13px;" class="text-danger" ></div>
       
             </div> 
            </div>
            <div class="col-md-1  " *ngIf="registerForm.get('number_enfants5').value>1">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants52"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1 " *ngIf="registerForm.get('number_enfants5').value>2">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants53"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}}</option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1  " *ngIf="registerForm.get('number_enfants5').value>3">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants54"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
           <div class="col-md-1  " *ngIf="registerForm.get('number_enfants5').value>4">
             <div class="input-group mb-2">
               <select  class="form-control"   formControlName="age_enfants55"  >
                <option *ngFor="let l of createRange(17);let i=index"  [ngValue]="i+1"> {{i+1}} </option>
                </select>
               <div style="font-size: 13px;" class="text-danger" ></div>
       
            </div> 
           </div>
                </div>
  <div class="offset-md-10">
    <button type="submit" class="">Recherche</button>
  </div>
 
   </form>
  <!--end Hotel-->
  </div>
<!--end recherche de hotel-->
<!--body de hotel-->
<!--le meilleur hotels-->

    <div  *ngIf="!recherche"  class="container ">

    <div class="row m-3 justify-content-md-center">
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item " data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <a id="prev" class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
          <!--First slide-->
          <div class="carousel-item " [ngClass]="{'active':i===0}" *ngFor="let hotel of hotel_carousel;let i=index;" >
            <div class="row " >
              <div routerLink="hotelclient/{{h.id}}"  class="col-md-4 clearfix d-none d-md-block " *ngFor="let h of hotel">
                <div class="card mb-2">
                  <img class="card-img-top" src="http://127.0.0.1:8000/images/hotels/hotel/{{h.image}}"
                    alt="Card image cap">
                    <div class="card-body">
                      <h5 style="font-size: 14px;" class="card-title">{{h.nom}}</h5>
                      <div ><i style="color: rgb(255, 251, 9);" class="fas fa-star"*ngFor="let e of createRange(h.etoile)" ></i> <i style="font-size: 13px;" class="card-text">  ({{h.ville}})</i></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <a id="next" class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>

         
  
        </div>
        <!--/.Slides-->
  
      </div>
      <!--/.Carousel Wrapper-->
    </div>
      </div>
   
    <!--end hotels-->
    <div *ngIf="!recherche" class="container">
       <h4 class="text-uppercase text-center mb-5  " >Les hotels plus recherchées </h4>
   <div class="row ">
   <div class="col-md-4  " *ngFor="let h of hotels">
       <div class="card" routerLink="hotelclient/{{h.id}}" >
            <img class="card-img-top" src="http://127.0.0.1:8000/images/hotels/hotel/{{h.image}}" alt="Card image cap">
            <div class="card-body" >
             <h5 style="font-size: 14px;" class="card-title">{{h.nom}}</h5>
             <div ><i style="color: rgb(255, 251, 9);" class="fas fa-star"*ngFor="let e of createRange(h.etoile)" ></i> <i style="font-size: 13px;" class="card-text">  ({{h.ville}})</i></div>
            <h5  style="color: rgb(29, 17, 202); font-size:14px;text-align: right; ">à partir de <h6 style="color: #000; font-size: 20px;">{{h.prix}}<sup>Dt</sup></h6></h5>
           </div>
       </div>
   </div>
   </div>
   </div>






   <!--recherceh hotel-->
   <div *ngIf="recherche">
    <div  class="container" *ngFor="let hotel of resulta_de_rechrech;let x=index;">
      <div  class="row no-gutters mt-5 mb-5 shadow-sm  mb-5 bg-white rounded ">
          <div class="col-auto">
              <img style="width: 300px;height:300px;"   src="http://127.0.0.1:8000/images/hotels/hotel/{{hotel.image}}" alt="Card image cap">
          </div>
          <div  class="col-md-6">
              <div class="ml-3 mt-4" style="font-size: 18px;" ><i  class="ml-2" style="font-size: 18px;">{{hotel.nom}}    </i> <i *ngFor="let e of createRange(hotel.etoile)" style="color: rgb(255, 225, 56);" class="fas fa-star"></i> <i style="font-size: 13px;" class="card-text"></i></div>
               <div class="containt" >
              
                <div class="page ml-2 mt-2 mb-2">
                  <nav class="menu">
                    <ul class="menu__list" >
                      <li class="menu__group" *ngFor="let p of hotel.pension;let m=index;"><button style="color:  rgb(255, 255, 255);" [ngClass]="{'active':pension_selecte[hotel.id]==p.id}"   (click)="add_prix_pension(p,hotel)"  class="menu__link ">{{p.titre}} </button></li>
                      
                    </ul>
                  </nav>
                </div>
              
                   <div class=" ml-2  mb-2 " *ngFor="let chambre of hotel.chambres| keyvalue">
                      <h5 class="">Chambre{{chambre.key}} :</h5>
                    <select (change)="filterForeCasts($event.target.value,chambre.value,hotel.id,hotel.nbchambre,chambre.key)" class="form-control fa"  id="exampleFormControlSelect1" >
                      <option     *ngFor="let c of chambre.value;let i=index;" value="{{c.id}}">{{c.type}} <h5 style="text-align: end;">{{c.nbdesbo}} chambre desponible</h5></option>
                      
                    </select>
                    
                     </div>
                   
                    </div>
                  </div>

                      <div class="col-md ">
                      
                        <div class="row justify-content-md-center">
                          <img width="150px" height="100px"  src="../../../assets/titre.png" alt="">
                         
                        </div>
                     <div class="row justify-content-md-center  mt-5">
                      <h3>Prix : {{prix_t[hotel.id]}}<sup>TND</sup></h3>
                     </div>
                     <div class="row justify-content-md-center">
                      <button  (click)="detail_rehcerche(hotel)" type="button" class="btnR  ">De details</button>

                     </div>
          
                      </div>
                    
                 
            
        
      </div>
     
     </div>
   </div>
   
      <!--end recherceh-->
<!--end body of hotel-->


