
.filtre{
    background-color:#606bff;
    height: 100px;
 

}
small{
  font-size: 13px;
}
div h6 i{
    cursor: pointer;
    color: #febb02;
    position: absolute;
    right: 5%;
    bottom: 2%;
}
select{
  width:300px ;
  outline: none !important;
}

/*Pas important, juste pour positioner la liste déroulante en milieude page */

