<div class="container ">
    <div class="row justify-content-md-center">

<div class="card text-white bg-primary ml-3" style="max-width: 20rem;">
    <div class="card-body ">
      <div class="row ">
      <div class="col">
        <h3 class="card-title">{{nb}} </h3>
        <p class="card-title mt-4 ">
        <span style=" font-size:smaller ;white-space: nowrap">
            Voyage 
        </span>
        </p>
      </div>
      <div class="col ">
        <p class="card-text"><i class="fas fa-globe-americas fa-4x "></i> </p>
      </div>
    </div>
    </div>
  </div>

  <div class="card text-white bg-danger ml-3 " style="max-width: 18rem;">
    <div class="card-body ">
      <div class="row ">
      <div class="col">
        <h3 class="card-title">{{nb}} </h3>
        <p class="card-title mt-4 ">
          <span style=" font-size:smaller ;white-space: nowrap">
            Reservation
        </span>
        </p>
      </div>
      <div class="col ">
        <p class="card-text"><i class="fas fa-chart-line fa-4x"></i></p>
      </div>
    </div>
    </div>
  </div>
  
  <div class="card text-white bg-success ml-3" style="max-width: 18rem;">
    <div class="card-body">
      <div class="row ">
        <div class="col">
            <h3 class="card-title">50</h3>
            <p class="card-title mt-4 ">
              <span style="font-size:smaller ; white-space: nowrap">
                Reservation attente
            </span> 
            </p>
        </div>
        <div class="col">
          <i class="far fa-bell fa-4x"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white  bg-warning   ml-3 " style="max-width: 18rem;">
    <div class="card-body">
        <div class="row ">
          <div class="col">
              <h3 class="card-title">50</h3>
              <p class="card-title mt-4 ">
                <span style="font-size:smaller ; white-space: nowrap">
                  Reservation validé
              </span> 
              </p>
          </div>
          <div class="col">
            <i class="fas fa-check-square fa-4x"></i>
          </div>
        </div>
    </div>
  </div>

  </div>
</div>




<!--add voyage-->
<div class="d-flex justify-content-center m-5 ">
    <button (click)="add()"  id="button" type="button" class="btn btn-pill  w-25 "  data-toggle="modal" data-target=".bd-example-modal-lg">
        <i class="fas fa-plus"></i> Voyage
    </button>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">nouvelle voyage</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="registerForm" (submit)="addVoyage()">
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    
                    <input formControlName="titre" [(ngModel)]="titre" type="text" class="form-control" id="recipient-name" placeholder="Titre">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input formControlName="nbjour" [(ngModel)]="nbjour" type="text"  name="nbjour"  class="form-control" id="recipient-name "placeholder="Nombre de jour">
                  </div>
                </div>
              </div>
              
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    
                    <input name="nbplace" formControlName="nbplace" [(ngModel)]="nbplace" type="text" class="form-control" id="recipient-name " placeholder="Nombre de place">
                  </div>
                </div>
                <div class="col">
                  <div class="custom-file">
                    <input  [ngClass]="{ 'is-invalid': submitted && f.imageee.errors }" type="file"  accept="image/*" formControlName="image" name="image" (change)="fileChange($event)" [(ngModel)]='image' class="custom-file-input" id="validatedCustomFile" required>
                    <label class="custom-file-label" for="validatedCustomFile">image de covertire</label>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Ajouter</button>
              </div>
            </form>
          </div>
      </div>
    </div>
</div>

<!--end add voyage-->
<div class="container mt-5">
    <div class="row ">
        <div  class="col">
            <div  id="couvert" class="card  text-white">
                <img class="card-img w-100 " src="http://127.0.0.1:8000/images/payer/{{cat.image}}"  alt="">
              </div>
              <div class="card-img-overlay">
                <h1 class="" style="text-align:right;" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-camera"></i></h1>
              </div>

        </div>
        <div class="col col-6">
            <div id="card" class=" ">
       
                <fusioncharts
                type='pie2d'
                width='100%'
                height='100%'
                [dataSource]='dataSource'
                (dataplotClick)='dataplotClick($event)'
                >
                </fusioncharts>
              </div>
        </div>
       
    </div>
</div>

<div class="container">
  <h1 class="mt-5" style="text-align: center;">Tout les voyages</h1>
  <div class="row mt-5 justify-content-center">
    <div class="col-mt-3 mt-3 ml-1 mb-2" *ngFor="let v of voyage|paginate:{itemsPerPage: 6, currentPage:p}" >
      <div class="card" style="width: 18rem;">
        <img class="card-img-top h-100" src="http://127.0.0.1:8000/images/voyage/{{v.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 style="text-align:justify;" class="card-title"> <strong>{{v.titre}}</strong></h5>
          <h5 style="text-align: justify;"><span class="badge badge-pill badge-success">{{v.nbjour}} jours /  {{v.nbjour-1}} nuits</span></h5>
          <h5 style="text-align: justify;" ><span class="badge badge-pill badge-danger">{{v.nbplace}} place</span></h5>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <button routerLink="voyagebyid/{{v.id}}" type="button" class="btn btn-link"><h5><i class="fas fa-align-justify"></i></h5> </button>
            <button (click)="delite(v.id)" type="button" class="btn btn-link"><h5> <i class="fas fa-trash-alt"></i></h5> </button>
    
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <pagination-controls class="pagination" (pageChange)="p=$event"></pagination-controls>

  </div>
</div>


<!-- Modal of updete image  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="registerForm" (submit)="updeteimage()">
        <div class="modal-body">
          <div class="custom-file">
            <input  [ngClass]="{ 'is-invalid': submitted && f.image.errors }" type="file"  accept="image/*" formControlName="image" name="image" (change)="fileChange($event)" [(ngModel)]='image' class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Nauvele image...</label>
            <div class="invalid-feedback">select file</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Ferme</button>
          <button type="submit" class="btn btn-primary" > Mise Ajoure</button>
        </div>
      </form>
     
    </div>
  </div>
</div>

