<!--card-->
<div class="container ">
    <div class="row justify-content-md-center">
<div class="card text-white bg-primary m-3" style="max-width: 20rem;">
    
    <div class="card-body w-100 h-25">
      <div class="row ">
      <div class="col">
        <h3 class="card-title">{{nb}} </h3>
        <p class="card-title ">Pays Disponible</p>
      </div>
      <div class="col ">
        <p class="card-text"><i class="fas fa-globe-americas fa-6x "></i> </p>
      </div>
    </div>
    </div>
  </div>
  <div class="card text-white bg-danger m-3" style="max-width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Danger card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-warning m-3" style="max-width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Warning card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  </div>
</div>
<!--end card -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-3 m-1 shadow p-3 mb-5 bg-white rounded">
    <form  [formGroup]="registerForm"  (submit)='ajouter_ville()'>
     
          <div class="form-group">
      <input 
            [ngClass]="{ 'is-invalid': submitted && f.ville.errors }"
            formControlName="ville" 
            type="text" 
            class="form-control" 
            id="recipient-name" 
            placeholder="Ville">
      <div *ngIf="submitted && f.ville.errors" class="invalid-feedback">
     <div *ngIf="f.ville.errors.required">ville et obligatoir</div>
    </div>
    </div>
        <div class="row justify-content-md-center">
          <button  class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </div>
  <div class="col-md-4 m-1 shadow p-3 mb-5 bg-white rounded">
    <form  [formGroup]="registerForm2"  (submit)='ajouter_Type_Chambre()'>
     
          <div class="form-group">
      <input 
            [ngClass]="{ 'is-invalid': submitted2 && f2.Type_Chambre.errors }"
            formControlName="Type_Chambre" 
            type="text" 
            class="form-control" 
            id="recipient-name" 
            placeholder="Type_Chambre">
      <div *ngIf="submitted2 && f2.Type_Chambre.errors" class="invalid-feedback">
     <div *ngIf="f2.Type_Chambre.errors.required">Type Chambre et obligatoir</div>
    </div>
    </div>
    <div class="form-group">
      <input 
            [ngClass]="{ 'is-invalid': submitted2 && f2.nombre.errors }"
            formControlName="nombre" 
            type="text" 
            class="form-control" 
            id="recipient-name" 
            placeholder="nombre_adulte">
      <div *ngIf="submitted2 && f2.nombre.errors" class="invalid-feedback">
     <div *ngIf="f2.nombre.errors.required">nombre et obligatoir</div>
    </div>
    </div>
        <div class="row justify-content-md-center">
          <button  class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </div>
  <div class="col-md-4 m-1 shadow p-3 mb-5 bg-white rounded">
    <form  [formGroup]="registerForm3"  (submit)='ajouter_pension()'>
     
          <div class="form-group">
      <input 
            [ngClass]="{ 'is-invalid': submitted3 && f3.titre.errors }"
            formControlName="titre" 
            type="text" 
            class="form-control" 
            id="recipient-name" 
            placeholder="pension">
      <div *ngIf="submitted3 && f3.titre.errors" class="invalid-feedback">
     <div *ngIf="f3.titre.errors.required">ville et obligatoir</div>
    </div>
    </div>
    <div class="form-row">
                      
      <div class="col">
        <div class="custom-file">
          <input  [ngClass]="{ 'is-invalid': submitted3 && f3.image.errors }" type="file"  accept="image/*" formControlName="image" name="image" (change)="fileChange($event)"  class="custom-file-input" id="validatedCustomFile" required>
          <label class="custom-file-label" for="validatedCustomFile">image de covertire</label>
          <div class="invalid-feedback">select file</div>
        </div>
      </div>
    </div>
        <div class="row m-1 justify-content-md-center">
          <button  class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </div>
  <div class="col-md-4 m-1 shadow p-3 mb-5 bg-white rounded">
    <form  [formGroup]="registerForm4"  (submit)='ajouter_loisire()'>
     
          <div class="form-group">
      <input 
            [ngClass]="{ 'is-invalid': submitted4 && f4.titre.errors }"
            formControlName="titre" 
            type="text" 
            class="form-control" 
            id="recipient-name" 
            placeholder="loisire">
      <div *ngIf="submitted4 && f4.titre.errors" class="invalid-feedback">
     <div *ngIf="f4.titre.errors.required">loisire et obligatoir</div>
    </div>
    </div>
    <div class="form-row">
                      
      <div class="col">
        <div class="custom-file">
          <input  [ngClass]="{ 'is-invalid': submitted4 && f4.image.errors }" type="file"  accept="image/*" formControlName="image" name="image" (change)="fileChange2($event)"  class="custom-file-input" id="validatedCustomFile" required>
          <label class="custom-file-label" for="validatedCustomFile">image de covertire</label>
          <div class="invalid-feedback">select file</div>
        </div>
      </div>
    </div>
        <div class="row m-1 justify-content-md-center">
          <button  class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </div>
  <div class="col-md-4 m-1 shadow p-3 mb-5 bg-white rounded">
    <form  [formGroup]="registerForm5"  (submit)='ajouter_interdit()'>
     
          <div class="form-group">
      <input 
            [ngClass]="{ 'is-invalid': submitted5 && f5.titre.errors }"
            formControlName="titre" 
            type="text" 
            class="form-control" 
            id="recipient-name" 
            placeholder="interdit">
      <div *ngIf="submitted5 && f5.titre.errors" class="invalid-feedback">
     <div *ngIf="f5.titre.errors.required">interdit et obligatoir</div>
    </div>
    </div>
    <div class="form-row">
                      
      <div class="col">
        <div class="custom-file">
          <input  [ngClass]="{ 'is-invalid': submitted5 && f5.image.errors }" type="file"  accept="image/*" formControlName="image" name="image" (change)="fileChange3($event)"  class="custom-file-input" id="validatedCustomFile" required>
          <label class="custom-file-label" for="validatedCustomFile">image de covertire</label>
          <div class="invalid-feedback">select file</div>
        </div>
      </div>
    </div>
        <div class="row m-1 justify-content-md-center">
          <button  class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
</div>

<div class="container ">
    <!--tabeau-->
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Pays</th>
            <th scope="col">Détails</th>
            <th scope="col">supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cat; let i = index">
            <th scope="row">{{c.id}}</th>
            <td>{{c.payer}}</td>
            <td>Otto</td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
        </tbody>
      </table>
      <!-- end tabeau-->
    
   
</div>

