td h2{
    cursor: pointer;
}
h1 i{
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 3px;
}

h1 i:hover{
    opacity: 1;
    cursor: pointer;
}

 ngb-carousel{
  
    width: 500px;
    height: 350px;
}
.breadcrumb-item{
    margin: 0;
}
img{
    width: 500px;
    height: 350px;
}
ul li{
   list-style: none;
}
li{
    margin-right: 20px;
}
li span,h3 i{
    cursor: pointer;
}