<nav class="navbar navbar-expand-lg navbar-light   shadow-sm p-3 mb-5 bg-light rounded">
  

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="accueil">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/voyage/reservation" ><i class="fas fa-route "><span class="badge badge-pill badge-danger notification">{{nbreservation}}</span></i></a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" routerLink="/admin/hotel/reservatio" ><i class="fas fa-hotel"><span class="badge badge-pill badge-danger notification">{{nbreservation_hotel}}</span></i></a>
        </li>
      </ul>
    </div>
  </nav>
