<div *ngIf="!resertvation" class="container  mt-5 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row  ">
        <div class="col-md-9">

      <div class="titre mb-1"> {{nom_hotel}}<i style="color: rgb(255, 251, 9);" class="fas fa-star"*ngFor="let e of createRange(nb_etoile)" ></i> </div>
            <div id="carouselExampleControls" class="carousel slide"data-interval="2000" data-ride="carousel">
                <div class="carousel-inner  ">
                    <div class="carousel-item active">
                        <img  src="http://127.0.0.1:8000/images/hotels/hotel/{{image}}" class="d-block w-100 " alt="...">
                    </div>
                    <div class="carousel-item" *ngFor="let img of images">
                      <img src="http://127.0.0.1:8000/images/hotels/hotel/{{img.nom}}" class="d-block w-100 " alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
        <div class="col-md-3 col-md-3 mt-1 liste-icon  ">
          <div class="row justify-content-md-center">
            <img  src="./../../../assets/titre.png"  style="width: 100px;height: 60px;">
          </div>
            <ul class="mt-4 " >
                <li class="icon"  *ngFor="let amen of amenagement"> <img width="20px" height="20px" src="http://127.0.0.1:8000/images/hotels/icons/{{amen.icon}}" class="mr-2">{{amen.titre}} </li>
                <li class="icon" *ngFor="let int of interdi"> <img width="20px" height="20px" src="http://127.0.0.1:8000/images/hotels/icons/{{int.icon}}" class="mr-2">{{int.titre}} </li>
              </ul>
        </div>
    </div>
    
    <div class=" row mt-5">
        <div class="col-md ">
            <div id="recherceh" *ngIf="rechereche_afficher==true"  class="card cardr    shadow-lg p-3 mb-5 rounded">
                <!--Recherche Hotel-->
                <form [formGroup]="registerForm" (submit)="rechercher_hotel()"  >
                  
                    <div class="form-row">

                    
                      <div class="col-md-3 ">
                        <div  class="input-group mb-2">
                          <div (click)="d.toggle()"  class="input-group-prepend">
                            <div style="background-color: rgb(255, 255, 255);" class="input-group-text">  <i class="fas fa-calendar-alt"></i></div>
                          </div>
                          <input  [ngClass]="{ 'is-invalid': submitted && this.date=='date de arreve'}" formControlName="dp"   class="form-control"   [minDate]="minPickerDate" placeholder="{{date}}"
                                name="dp" [(ngModel)]="model" ngbDatepicker (ngModelChange)="onDateChange($event)" #d="ngbDatepicker">
                        </div>
                        <div class="text-danger" style="font-size: 13px;" *ngIf="submitted && this.date=='date de arreve'">select date</div>
              
                      </div>
                      <div class="col-md-3 ">
                        <div class="input-group mb-2">
                          <input [ngClass]="{ 'is-invalid':submitted &&  f.nuit.errors }" type="number" class="form-control" formControlName="nuit"  placeholder="Nombre de nuits">
                      </div>
                      <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.nuit.errors">nombre de nuit et obligatoire</div>

                      </div> 
                      <div class="col-md-3 ">
                        <div class="input-group mb-2">
                          <select  class="form-control"     formControlName="nbchamber"  >
                              <option Value="1">
                                1
                            </option>
                            <option  Value="2">
                              2
                          </option>
                          <option  Value="3">
                              3
                          </option>
                          <option  Value="4">
                            4
                          </option>
                          <option  Value="5">
                            5
                          </option>
                              </select>
                            
                        </div> 
                      </div> 
                    </div>
                    
                      <div class="form-row" *ngIf="registerForm.get('nbchamber').value>0" >
                          <div class="col-md-3 mt-2 ">
                            <h6>chombre 1:</h6>
                        </div>
                        <div class="col-md-3">
                          <div class="input-group mb-2">
                            
                            <input [ngClass]="{ 'is-invalid':submitted &&  f.number_adulte1.errors }" type="number" formControlName="number_adulte1" class="form-control" placeholder="Adultes">
                          </div> 
                          <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_adulte1.errors&&registerForm.get('nbchamber').value>0">nombre de adulte et obligatoire</div>

                        </div>
                        <div class="col-md-3  ">
                          <div class="input-group mb-2">
                            <input type="number" [ngClass]="{ 'is-invalid':submitted &&  f.number_enfants1.errors }" formControlName="number_enfants1" class="form-control" placeholder="Enfants">
                          </div> 
                          <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_enfants1.errors&&registerForm.get('nbchamber').value>0">nombre de enfant et obligatoire</div>
                        </div>
                      
                    </div>
                    
                      <div class="form-row" *ngIf="registerForm.get('nbchamber').value>1" >
                          <div class="col-md-3 mt-2 ">
                            <h6>chombre 2:</h6>
                        </div>
                        <div class="col-md-3 ">
                          <div class="input-group mb-2">
                            
                            <input type="number" [ngClass]="{ 'is-invalid':submitted &&  f.number_adulte2.errors }" formControlName="number_adulte2"  class="form-control" placeholder="Adultes">
                          </div> 
                          <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_adulte2.errors&&registerForm.get('nbchamber').value>1">nombre de adulte et obligatoire</div>

                        </div>
                        <div class="col-md-3 ">
                          <div class="input-group mb-2">
                            
                            <input type="number"  [ngClass]="{ 'is-invalid':submitted &&  f.number_enfants2.errors }" formControlName="number_enfants2"  class="form-control" placeholder="Enfants">
                          </div> 
                          <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_enfants2.errors&&registerForm.get('nbchamber').value>1">nombre de enfant et obligatoire</div>

                        </div>
                      </div>
                    
                    
                      <div class="form-row" *ngIf="registerForm.get('nbchamber').value>2" >
                          <div class="col-md-3 mt-2 ">
                            <h6>chombre 3:</h6>
                        </div>
                        <div class="col-md-3 ">
                          <div class="input-group mb-2">
                          
                            <input type="number" [ngClass]="{ 'is-invalid':submitted &&  f.number_adulte3.errors }" formControlName="number_adulte3"  class="form-control" placeholder="Adultes">
                          </div> 
                          <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_adulte3.errors&&registerForm.get('nbchamber').value>2">nombre de adulte et obligatoire</div>

                        </div>
                        <div class="col-md-3 ">
                          <div class="input-group mb-2">
                            
                            <input type="number-3" [ngClass]="{ 'is-invalid':submitted &&  f.number_enfants3.errors }" formControlName="number_enfants3" class="form-control" placeholder="Enfants">
                          </div> 
                          <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_enfants3.errors&&registerForm.get('nbchamber').value>2">nombre de enfant et obligatoire</div>

                        </div>
                      </div>
                    
                    
                      <div class="form-row" *ngIf="registerForm.get('nbchamber').value>3" >
                          <div class="col-md-3 mt-2 ">
                            <h6>chombre 4:</h6>
                        </div>
                        <div class="col-md-3 ">
                          <div class="input-group mb-2">
                          
                            <input type="number" [ngClass]="{ 'is-invalid':submitted &&  f.number_adulte4.errors }" formControlName="number_adulte4" class="form-control" placeholder="Adultes">          
                          </div> 
                          <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_adulte4.errors&&registerForm.get('nbchamber').value>3">nombre de Adultes et obligatoire</div>

                        </div>
                        <div class="col-md-3  ">
                          <div class="input-group mb-2">
                            
                            <input type="number" [ngClass]="{ 'is-invalid':submitted &&  f.number_enfants4.errors }" formControlName="number_enfants4" class="form-control" placeholder="Enfants">
                          </div> 
                          <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_enfants4.errors&&registerForm.get('nbchamber').value>3">nombre de Enfants et obligatoire</div>

                        </div>
                      </div>
                    
                    
                      <div class="form-row" *ngIf="registerForm.get('nbchamber').value>4" >
                          <div class="col-md-3 mt-2 ">
                            <h6>chombre 5:</h6>
                        </div>
                        <div class="col-md-3 ">
                          <div class="input-group mb-2">
                            
                            <input type="number" [ngClass]="{ 'is-invalid':submitted &&  f.number_adulte5.errors }" formControlName="number_adulte5" class="form-control" placeholder="Adultes">
                          </div> 
                          <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_adulte5.errors&&registerForm.get('nbchamber').value>4">nombre de Adultes et obligatoire</div>
                        </div>
                        <div class="col-md-3 ">
                          <div class="input-group mb-2">
                            
                            <input type="number" [ngClass]="{ 'is-invalid':submitted &&  f.number_enfants5.errors }" formControlName="number_enfants5" class="form-control" placeholder="Enfants">          
                          </div>
                          <div style="font-size: 13px;" class="text-danger" *ngIf="submitted &&  f.number_enfants5.errors&&registerForm.get('nbchamber').value>4">nombre de Enfants et obligatoire</div> 
                        </div>
                      </div>
                
                    <div class="form-row">
                      <div class="col-md">
                        <button style="background-color: darkblue;color: rgb(255, 255, 255);" type="submit" class="btn float-right">Tarifs & Dispo</button>
                      </div>
                    </div>
              
            
                </form>
                <!--end Hotel-->
            </div>
            <div  class="mt-5" *ngIf="hotel!=null&&rechereche_afficher==false">
                <div class="row">
                  <div  class="col-md ">
                    <h3>Récapitulatif de votre sejour <button (click)="modifier()" class="btn modifier float-right">Modifier</button><hr></h3>
                      <div class="" style="font-size: 18px;" ><i  class="ml-2" style="font-size: 18px;"> <i class="far fa-calendar-minus"></i> Arrivée  {{hotel.dateToIn}}  <i class="far fa-clock"></i>  Durée {{hotel.nuit}} Nuit <i class="fas fa-bed"></i>  {{hotel.nbchambre}} Chambres: {{hotel.nbPersonne}} Adulte </i> </div>
                    
                      
                        <div class="page ml-2 mt-2 mb-2">
                          <nav class="menu">
                            <ul class="menu__list" >
                              <li class="menu__group" *ngFor="let p of hotel.pension;let m=index;"><button style="color:  rgb(255, 255, 255);" [ngClass]="{'active':pension_selecte[hotel.id]==p.id}"   (click)="add_prix_pension(p,hotel.id,hotel.nbPersonne,hotel.nuit)"  class="menu__link ">{{p.titre}} </button></li>
                              
                            </ul>
                          </nav>
                        </div>
                        <div class=" ml-2 mt-2 " *ngFor="let chambre of hotel.chambres| keyvalue">
                              <h5 class="">Chambre{{chambre.key}} :</h5>
                            <select (change)="filterForeCasts($event.target.value,chambre.value,hotel.id,hotel.nbchambre,chambre.key)" class="form-control"  id="exampleFormControlSelect1">
                              <option     *ngFor="let c of chambre.value;let i=index;" value="{{c.id}}">{{c.type}} <h5 style="text-align: end;">{{c.nbdesbo}} chambre desponible</h5></option>
                            </select>
                        </div>
                </div>
                </div>
                    <div class="row">
                      <div class="col-md float-right">
                        <div class="row mt-5 justify-content-md-end">
                            <h4>Prix Total: <i> {{prix_t[hotel.id]}}<sup>TND</sup></i></h4>
                          </div>
                          <div class="row ">
                            <div class="col-md mt-2 mb-2  ">
                              <button (click)="demonde()"  type="button" class="btn ml-2 agence float-right "><i  class="fas fa-map-marker-alt"></i> je passe à l'agence</button>
              
                              <button  type="button" class="btn ligne float-right"> je paye en ligne</button>
                            
                          </div>
                        </div> 
                      </div>
                    </div>
               <hr>
            </div>

            <div class="col-md ">
            
                <h1 class="mt-5" >A propos de l'établissement </h1>
                <p> {{dscription}} </p>
                <div *ngFor="let d of descriptions;let i=index;">
                    <h2 >{{d.titre}} </h2>
                    <p > {{d.description}} </p>
                </div>
                <h1>les questions les plus fréquentes sur l'hotels :</h1>
                
                <div *ngFor="let q of question;let i=index;">
                    <h2 >{{q.question}}  </h2>
                    <p > {{q.reponce}} </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
                
                    <h1 style="text-align: center;">Dans la même région <hr></h1>
                    
                    <div class="col-md" *ngFor="let event of hotels_de_meme_ville">
                       <div  *ngIf="event.id!=id">
                        <div class="">
                          <h6 style="font-size: 13px;" class="card-title ">{{event.nom}}</h6>
                          <div ><i style="color: rgb(255, 251, 9);" class="fas fa-star"*ngFor="let e of createRange(event.etoile)" ></i> <i style="font-size: 13px;" class="card-text"></i></div>
                        </div>
                          <img src="http://127.0.0.1:8000/images/hotels/hotel/{{event.image}}" class="w-100 h-100"  alt="">
                      
                       </div>
                    </div>
        </div>
    </div>
   
</div>

<div class="container mt-5 " *ngIf="resertvation">
  <div class="row justify-content-md-center">
    <div class="col-md-1  mb-2">
      <button class="btn btn-warning text-white " (click)="resertvation=false;login=false;valide_reservation=false">Retoure</button>
          </div>
  </div>
  <div class="row justify-content-md-center">
    <div *ngIf="!login" class="col-md-7 h-100 shadow p-3 mb-5 bg-white rounded">
      <div class="col-md">
        <h5>Déjà membre ? Connectez-vous !</h5>
        <h5></h5>
      <form class="form-signin mb-4 mt-3" [formGroup]="registerFormlogin" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="col-md ">
            <input [ngClass]="{ 'is-invalid': submittedlogin && f3.email.errors }"formControlName="email" type="email" class="form-control" id="inlineFormInputGroup" placeholder="Adresse e-mail">
            <div *ngIf="submittedlogin && f3.email.errors" class="invalid-feedback">
                <div *ngIf="f3.email.errors.required">e-mail est requis</div>
                <div *ngIf="f3.email.errors.email"> L'e-mail doit être une adresse e-mail valide</div>
            </div>
          </div>
  
          <div class="col-md ">
            <input formControlName="password"  [ngClass]="{ 'is-invalid': submittedlogin && f3.password.errors }" type="password" class="form-control" id="inlineFormInputGroup" placeholder="Mot de passe">
        <div *ngIf="submittedlogin && f3.password.errors" class="invalid-feedback">
            <div *ngIf="f3.password.errors.required">Mot de passe requis</div>
            <div *ngIf="f3.password.errors.minlength">Mot de passe doit être d'au moins 8 caractères </div>
        </div>
          </div>
          <div class="col-md">
            <button style="background-color: #003580;" class="btn  w-100 text-uppercase text-white" type="submit">se connecter</button>
          </div>
        </div>
      </form>
      <h5 *ngIf="Unauthorised" class="text-danger">Adresse e-mail ou mot de passe incorrect.</h5>

      <hr>
        <h5> NOUVEAU ? inscrivez-vous </h5>
        <form [formGroup]="registerForm2" (ngSubmit)="onSubmit2()"> 
          <div  *ngIf="error_registre" class="text-danger">L'e-mail existe déjà</div>
              <div class="form-row  justify-content-center">
                <div class="col-md">
                  <select [ngClass]="{'is-invalid': submitted2 && this.registerForm2.get('civilite').value=='Civilité...'}" formControlName="civilite" name="civilite"  class="form-control">
                    <option  disabled>Civilité...</option>
                    <option value="1">Mr</option>
                    <option value="2">MMe</option>
                  </select>
                  <div *ngIf="submitted2 && this.registerForm2.get('civilite').value=='Civilité...'" class="invalid-feedback">
                    <div *ngIf="this.registerForm2.get('civilite').value=='Civilité...'">Civilité est requis</div>
                </div>
                </div>
                  <div class="col-md">
                      <div class="input-group mb-2">
                          <input [ngClass]="{ 'is-invalid': submitted2 && f3.email.errors ||error_registre}"formControlName="email" type="email" class="form-control" id="inlineFormInputGroup" placeholder="Adresse e-mail">
                          <div *ngIf="submitted2 && f3.email.errors" class="invalid-feedback">
                              <div *ngIf="f3.email.errors.required">Email est requis</div>
                              <div *ngIf="f3.email.errors.email"> L'e-mail doit être une adresse e-mail valide</div>
                          </div>
                          <br>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="input-group mb-2">
                          <input  [ngClass]="{ 'is-invalid': submitted2 && f3.tel.errors }"formControlName="tel" type="text" class="form-control" id="inlineFormInputGroup" placeholder="telephone">
                          <div *ngIf="submitted2 && f3.tel.errors" class="invalid-feedback">
                              <div *ngIf="f3.tel.errors.required">tel est requis</div>
                              <div *ngIf="f3.tel.errors.minlength">tel doit être  8 caractères </div>
                          </div>
                      </div>
                    </div>
              </div>
           
           <div class="form-row">
            <div class="col-md">
              <div class="input-group mb-2">
                  <input  [ngClass]="{ 'is-invalid': submitted2 && f3.nom.errors }"formControlName="nom" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Nom">
                  <div *ngIf="submitted2 && f3.nom.errors" class="invalid-feedback">
                      <div *ngIf="f3.nom.errors.required">nom est requis</div>
                     
                    
                  </div>
              </div>
            
            </div>
            <div class="col-md">
              <input  type="text" [ngClass]="{ 'is-invalid': submitted2 && f3.Prenom.errors }" formControlName="Prenom" class="form-control" placeholder="Prenom">
              <div *ngIf="submitted2 && f3.Prenom.errors" class="invalid-feedback">
                <div *ngIf="f3.Prenom.errors.required">Prenom est requis</div>
            </div>
            </div>
           
            <div class="col-md">
              <div class="input-group mb-2">
                  <input formControlName="password"  [ngClass]="{ 'is-invalid': submitted2 && f3.password.errors }" type="password" class="form-control" id="inlineFormInputGroup" placeholder="mot de passe">
                  <div *ngIf="submitted2 && f3.password.errors" class="invalid-feedback">
                      <div *ngIf="f3.password.errors.required">Mot de passe requis</div>
                      <div *ngIf="f3.password.errors.minlength">Mot de passe doit être d'au moins 8 caractères </div>
                  </div>
              </div>
            </div>
            
           </div>
        <div class="form-row">
          <div class="col-md mt-1  ">
            <button type="submit" style="background-color: #003580;" class="btn  float-right"><h6 style="color: rgb(255, 255, 255);">créer compte</h6></button>
           </div>
        </div>
        </form>
      </div>  
    </div>

    <div class="col-md-4 " >
      <div class="col-md shadow p-3 mb-5 bg-white rounded">
        <img src="http://127.0.0.1:8000/images/hotels/hotel/{{image}}" class="d-block w-100 mb-1 " alt="...">
      
         <h2  class="facture" *ngIf="valide_reservation" style="text-align: right;">Reservation N°TnTBlm57{{reservation_print.reservation.id}} </h2>
        <div class=" "> <h2 class="facture" >{{nom_hotel}}</h2> </div>
        <i style="color: rgb(255, 251, 9); font-size: 13px;" class="fas fa-star"*ngFor="let e of createRange(nb_etoile)" ></i>
     <h2  class="facture" *ngIf="user!=null">Cher(e) {{user.name}} {{user.surname}} </h2>
        <h2 class="facture">Arrive:{{date|date:'dd/MM/yyyy'}}</h2>
      <h2 class="facture">Depart:{{ajouter(date)|date:'dd/MM/yyyy'}} </h2>
      <h2 class="facture"><i class="fas fa-moon"></i> {{hotel.nuit}} nuit</h2>
      <h2 class="facture">{{pension_selecte_titre[hotel.id]}} </h2>
      <div *ngFor="let chambre of createRange(hotel.nbchambre);let i=index;">
        <h2 class="facture">  {{type_chambre_selecte[i+1]}}</h2>
      </div>
     
      
      <h1>Monto totale <i>{{prix_t[hotel.id]}}<sup>TND</sup></i></h1>
      <h3 class="facture">Total taxe de sejour a payer a l'hotel</h3>
      <button *ngIf="login&&!valide_reservation" (click)="Reserve_hotel()"  type="button" class="btn btn-warning w-100 mt-1">Reserve</button>
       <h2 class="text-success" (click)="window_print()" *ngIf="valide_reservation&&login">reservation valide  <i class="fas fa-print"></i></h2>
 </div>
    </div>
  </div>
</div>
<div class="container mt-5" *ngIf="valide_reservation"  class="collapse" id="print-section">
  <section class="invoice  p-5" >
    <!-- title row -->
    <div class="row">
      <div class="col-12">
        <h2 class="page-header">
          <i class="fas fa-globe"></i> Utecom
          <small style="font-size: 15px;" class="float-right">Date: {{myDate()}}</small> <br>
          <small   (click)="window_print()" style="font-size: 15px; color: rgb(0, 2, 143);cursor: pointer;" class="float-right"><i class="fas fa-print"></i> Print</small>
        </h2>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        Des
        <address>
          <strong>Utecom voyage</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          Telephone: (804) 73 233 000<br>
          Email: utecomvoyage@utecom-tn.tn
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        À
        <address>
          <strong>{{user.name}} {{user.surname}}</strong><br>
          Telephone: {{user.tel}}<br>
          Email: {{user.email}}
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <b>Reservation #RH{{reservation_print.reservation.id}}</b><br>
        <strong>Hotel:</strong> {{reservation_print.hotel.nom}} <br>
        <strong>Adresse:</strong> {{reservation_print.hotel.adresse}} <br>
        <strong>Arrive:</strong> {{reservation_print.reservation.date_in|date:"d MMM y"}} <br>
        <strong>Depart:</strong> {{reservation_print.reservation.date_out|date:"d MMM y"}}<br>
                          {{reservation_print.pension.titre}}
        
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row justify-content-md-center">
      <div class="col-11 table-responsive">
        <table class="table ">
          <thead>
          <tr>
            <th>Chambre</th>
            <th>Adulte</th>
            <th>Enfant </th>
            <th>Bebe</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let c of reservation_print.chombres">
            <td>{{c.type}}</td>
            <td>{{c.adulte}}</td>
            <td>{{c.enfant}}</td>
            <td>{{c.bebe}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
      <!-- accepted payments column -->
      <div class="col-6">
        <p class="lead">Payment Methods:</p>
       

        <p class="text-muted text-danger well well-sm shadow-none" style="margin-top: 10px;">
          Attention.
          Les prix et les disponibilités évoluent en temps réel en fonction des réservations de nos clients.
          Ainsi, certains hôtels peuvent ne plus être disponibles au moment de la réception de votre règlement ou changent de prix. C'est pourquoi, nous vous invitons à procéder au paiement au plus vite afin de valider votre réservation.
        </p>
      </div>
      <!-- /.col -->
      <div class="col-5">
        <p class="lead">Tarife de {{reservation_print.reservation.created_at|date:"d-MM-y"}}</p>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:50%"> Total partiel:</th>
              <td> {{reservation_print.reservation.prix}} TND</td>
            </tr>
            <tr>
              <th>Tax (0)</th>
              <td>0</td>
            </tr>
            <tr>
              <th>Total:</th>
              <td> {{reservation_print.reservation.prix}} TND</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.col -->
    </div>
    

  </section>
  <!-- /.content -->

</div>