<div class="container shadow-lg p-3 mb-5 rounded">
        <form >
            <div class="form-row m-1 ">
                <div class="col-md-3 offset-md-2 ">
                    <h4 >Voyages à l'étranger :</h4>
                
                </div>
              <div class="col-md-3 mb-1">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="où souhaitez-vous aller" aria-describedby="emailHelp">
            
            </div>
            <div class="col-md-3 ">
                <button type="button" class="btn btn-primary  w-100">Large button</button>
            </div>
            </div>
        </form>
</div>
