<ngb-carousel #carousel interval="2000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="picsum-img-wrapper">
        <a *ngIf="img.type=='hotel'" routerLink="/index/hotels/hotelclient/{{img.id}}">
          <img   width="100%" height="450px" src="http://127.0.0.1:8000/images/hotels/hotel/{{img.image}}" alt="My image {{i + 1}} description">
        </a>
        <a *ngIf="img.type=='voyage'" routerLink="/index/voyages/voyage/:id/programme/{{img.id}}">
          <img  width="100%" height="450px" src="http://127.0.0.1:8000/images/voyage/{{img.image}}" alt="My image {{i + 1}} description">
        </a>
        <a *ngIf="img.type=='omra'" routerLink="/index/omra/programm/{{img.id}}">
          <img  width="100%" height="450px" src="http://127.0.0.1:8000/images/voyage/{{img.image}}" alt="My image {{i + 1}} description">
        </a>
      </div>
  </ng-template>
</ngb-carousel>


<!--<button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
  {{paused ? 'Cycle' : 'Pause' }}
</button>-->




