<div class=" border-right " id="sidebar-wrapper">
  <div class="container">
    <div class="row justify-content-md-center">
    <div style="color: #ffffff;" class="sidebar-heading " >
          <p class="" style="font-weight:800;">
            <i class="fab fa-adn fa-2x "> </i>
          </p>
    </div>
    </div>
    <hr>
    
  </div>
    
    <div class="list-group list-group-flush">
      <ul class="list-group w-100 "  (click)="focus()">
        <li [ngClass]="{'active':url=='dashboard'}" class="link"  routerLink="dashboard"  ><p class=" ml-3 " style="font-size:18px;font-weight: 600;"> <i class="fas fa-tachometer-alt mr-3"></i>Tableau de bord</p></li>
        <li [ngClass]="{'active':url=='voyage'}"class="link"  routerLink="voyage"  ><p class="  ml-3   " style="font-size:18px;font-weight: 600;"><i class="fas fa-globe mr-3"></i> Voyage</p></li>
        <li [ngClass]="{'active':url=='hotel'}"class="link"  routerLink="hotel"  ><p class=" ml-3 "style="font-size:18px;font-weight: 600;"><i class="fas fa-hotel mr-3"></i>Hotel</p></li>
        <li [ngClass]="{'active':url=='omra'}" class="link"  routerLink="omra"  ><p class=" ml-3 " style="font-size:18px;font-weight: 600;"> <i class="fas fa-kaaba mr-3"></i>Omra</p></li>
        <li [ngClass]="{'active':url=='boitesauxlettre'}" class="link "  routerLink="boitesauxlettre"  ><p class=" ml-3 " style="font-size:18px;font-weight: 600;"> <i class="fas fa-envelope mr-3 notification"><span *ngIf='nbnewmsg!=0' class="badge  badge-pill badge-primary">{{nbnewmsg}}</span> </i>Boites aux lettres</p></li>
        <li [ngClass]="{'active':url=='client'}" class="link"  routerLink="client"  ><p class=" ml-3 " style="font-size:18px;font-weight: 600;"> <i class="fas fa-users mr-3"></i>Client</p></li>
       
      </ul>
      <br>
<br><br>
<br><br><br>
<br><br>
<br><br><br>
<br><br>
<br><br><br>

    </div>
  </div>
