<div class=" border-right " id="sidebar-wrapper">
  <div class="container">
    <div class="row justify-content-md-center">
    <div style="color: #ffffff;" class="sidebar-heading " >
          <p class="" style="font-weight:800;">
            <i class="fab fa-adn fa-2x "> </i>
          </p>
    </div>
    </div>
    <hr>
    
  </div>
    
    <div class="list-group list-group-flush">
      <ul class="list-group w-100 ">
        <li [ngClass]="{'active':link==0}" (click)="link=0"  class=""  routerLink="dashboard"  ><p class=" ml-3 " style="font-size:18px;font-weight: 600;"> <i class="fas fa-tachometer-alt mr-3"></i>Dashboard</p></li>
        <li [ngClass]="{'active':link==1}" (click)="link=1" class=""  routerLink="voyage"  >
          <p class="  ml-3   " style="font-size:18px;font-weight: 600;">
            <i class="fas fa-route mr-3"></i> Voyage
          </p>
        </li>
        <li [ngClass]="{'active':link==2}" (click)="link=2" class=""  routerLink="hotel"  ><p class=" ml-3 "style="font-size:18px;font-weight: 600;"><i class="fas fa-hotel mr-3"></i>Hotel</p></li>
        <li [ngClass]="{'active':link==3}" (click)="link=3"  class=""  routerLink="omra"  ><p class=" ml-3 " style="font-size:18px;font-weight: 600;"> <i class="fas fa-plane mr-3"></i>Omra</p></li>
        <li [ngClass]="{'active':link==4}" (click)="link=4"  class=""  routerLink="boitesauxlettre"  ><p class=" ml-3 " style="font-size:18px;font-weight: 600;"> <i class="fas fa-envelope mr-3"></i>Boites aux lettres</p></li>
       
      </ul>
      <br>
<br><br>
<br><br><br>
<br><br>
<br><br><br>
<br><br>
<br><br><br>

    </div>
  </div>
