.sidebar-heading p{
  white-space: nowrap;
 margin-left: 0%;
 list-style-type: none;
}
#sidebar-wrapper {
  background-color: #343a40;
   height: 100%; 
   width: 3.2rem;
    transition: width 0.7s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  
  #sidebar-wrapper .sidebar-heading {
    font-size: 1.2rem;
  }

  
  #sidebar-wrapper:hover {
    width: 15rem;
  }
 
ul{
  list-style-type: none;
}
li{
  outline: 0;
  white-space: nowrap;
  list-style-type: none;
  width: 94%;
  margin-left: 3%;
  margin-top: 2%;
  color: #aeb3bc;
  cursor: pointer;
  background-color: #343a40;
  
}

li:hover{
  width: 94%;
  margin-left: 3%;
  border-radius: 5px;
  color: #f1f2f3;
  background-color: #007bff;
}
.active{
  border-radius: 5px;
  color: #f1f2f3;
background-color: #007bff;
}
i{
  color: rgb(255, 255, 255);
}
p{
  height: 25px;
  margin-top: 11px;  
   margin-bottom: 11px;
}