<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">utecom </div>
    <div class="list-group list-group-flush">
      <a routerLink="dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a routerLink="voyage"  class="list-group-item list-group-item-action bg-light">Voyage</a>
      <a routerLink="hotel"  class="list-group-item list-group-item-action bg-light">hotel</a>
      <a routerLink="omra"  class="list-group-item list-group-item-action bg-light">omra</a>
      
    </div>
  </div>
