<div class="bar1"></div>
  <div class="bar"></div>
<footer class="page-footer font-small blue pt-4">
  
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      
      <!-- Grid row -->
     
  
        <!-- Grid column -->
        
  
          <!-- Content -->
          <h1 class="text-uppercase text-center mb-5 ">MODE DE PAIEMENT ACCEPTES</h1>
          <div class="row justify-content-md-center">
              
              <div class="col-md-3 m-2 " >
                 <h4 class="text-center">Paiement sécurisé:</h4>
                 <div class="row">
                    <h6><i  class="fab fa-cc-paypal fa-4x ml-3 mt-4 "></i></h6>
                    <h6><i class="fab fa-cc-visa  fa-4x ml-3 mt-4"></i></h6>
                   <h6><i class="fab fa-cc-mastercard  fa-4x ml-3 mt-4"> </i></h6>
                 </div>
              </div>
            
              <div class="col-md-3 m-2 " >
                <h4 class="text-center">Service client: </h4>
                <h6 class="text-center"> <i class="fas fa-mobile ml-3 mt-2"> </i>  55568136 </h6>
                <h6 class="text-center" > <i class="fas fa-envelope ml-3 mt-2"> </i>  wejdenchenti@gmail.com </h6> 
                <h6 class="text-center"> <i class="fas fa-fax ml-3 mt-2"> </i>  73998555</h6>
              </div>
              <div class="col-md-3 m-2" >
                <span ><h4 class="text-center"> Paiement en l'agence:</h4></span> 
                <i  class="fas fa-coins fa-4x ml-5 mt-3 " ></i>
            </div>   
          </div>
     </div>
      
    <!-- Footer Links -->
    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/">Utecom Voyage</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->