img{
     width: 20%;
    
     
}
.bar{
     height: 6px;
    
  background-color: #febb02;   
}
.bar1{
     height: 6px;
   
     
  background-color: #003580;   
}
footer{
     background-color:#e9e1cb;
}