<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="carouselExampleControls" class="carousel slide"data-interval="2000" data-ride="carousel">
                <div class="carousel-inner  ">
                    <div class="carousel-item active">
                        <img  src="http://127.0.0.1:8000/images/hotels/hotel/{{image}}" class="d-block w-100 " alt="...">
                    </div>
                    <div class="carousel-item" *ngFor="let img of images">
                      <img src="http://127.0.0.1:8000/images/hotels/hotel/{{img.nom}}" class="d-block w-100 " alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
        <div class="col-md-4 shadow-none p-3 mb-5 bg-light rounded">
           
            <form [formGroup]="myForm" (ngSubmit)="ajouter_multiple_image_of_hotel()">
                <h5 style="text-align: center;">uplode les images d'hotel</h5>
                <div class="input-group">
                      <div class="custom-file">
                             <input 
                                    [ngClass]="{ 'is-invalid': submitted7 && f5.file.errors }"
                                    formControlName="file"
                                    id="file" 
                                    type="file" 
                                    class="form-control "
                                    multiple="" 
                                    (change)="onFileChange($event)"
                                    accept="image/*"
                                    class="custom-file-input"
                                    >
                                    <div class="invalid-feedback  mr-5 mt-5">select file</div>
                <label class="custom-file-label" for="validatedCustomFile">Nauvele images...</label>
            </div>
        </div>
                 
                <div class="row ">
                    <div class="col mt-3">
                        <button class="btn  btn-primary float-right" type="submit">enregistrer</button>
                    </div>
                </div>
                 
               </form>  
            <form *ngIf="length_pension>0" [formGroup]="registerForm"  (submit)='ajouter_pension_hotel()'>
                <hr>
                <h5 style="text-align: center;">select des pension</h5>
                <div class="row">
                    <div class="col-md ">
                        <div class="form-group">
                    <select  class="form-control"   [ngClass]="{ 'is-invalid':submitted && this.registerForm.get('pension').value=='pension' }"  formControlName="pension"  >
                              <option disabled >
                                pension
                            </option>
                                <option  *ngFor="let p of pension "[ngValue]="p.id">
                                    {{p.titre}}
                                </option>
                    </select>
                     <div *ngIf="submitted && this.registerForm.get('pension').value=='pension'" class="invalid-feedback">
                         <div *ngIf="this.registerForm.get('pension').value=='pension'">select pension </div>
                        </div>
                    </div>
                   </div>
                  <div class="col-md"> 
                    <div class="form-group">
                   <input 
                        [ngClass]="{ 'is-invalid': submitted && f.prix.errors }"
                        formControlName="prix" 
                        type="text" 
                        class="form-control" 
                        id="recipient-name" 
                        placeholder="prix de pension">
             <div *ngIf="submitted && f.prix.errors" class="invalid-feedback">
            <div *ngIf="f.prix.errors.required">saisire prix</div>
           </div>
                </div>
               </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <button  class="btn btn-primary float-right">Enregistrer</button>
                    </div>
                    
                </div>
            </form>
            <form *ngIf="length_loisire>0" [formGroup]="registerForm2"  (submit)='ajouter_loisire_hotel()'>
                <hr>
                <h5 style="text-align: center;">select des loisire</h5>
                <div class="row">
                    <div class="col-md ">
                        <div class="form-group">
                    <select  class="form-control"   [ngClass]="{ 'is-invalid':submitted2 && this.registerForm2.get('loisire').value=='loisire' }"  formControlName="loisire"  >
                              <option disabled >
                                loisire
                            </option>
                                <option  *ngFor="let l of loisire "[ngValue]="l.id">
                                    {{l.titre}}
                                </option>
                    </select>
                     <div *ngIf="submitted2 && this.registerForm2.get('loisire').value=='loisire'" class="invalid-feedback">
                         <div *ngIf="this.registerForm2.get('loisire').value=='loisire'">select loisire </div>
                        </div>
                    </div>
                   </div>
                  <div class="col-md"> 
                    <button  class="btn btn-primary float-right">Enregistrer</button>
               </div>
                </div>
                
            </form>
            <form  *ngIf="length_interdi>0" [formGroup]="registerForm3"  (submit)='ajouter_interdi_hotel()'>
                <hr>
                <h5 style="text-align: center;">select des interdi</h5>
                <div class="row">
                    <div class="col-md ">
                        <div class="form-group">
                    <select  class="form-control"   [ngClass]="{ 'is-invalid':submitted3 && this.registerForm3.get('interdi').value=='interdi' }"  formControlName="interdi"  >
                              <option disabled >
                                interdi
                            </option>
                                <option  *ngFor="let i of interdi "[ngValue]="i.id">
                                    {{i.titre}}
                                </option>
                    </select>
                     <div *ngIf="submitted3 && this.registerForm3.get('interdi').value=='interdi'" class="invalid-feedback">
                         <div *ngIf="this.registerForm3.get('interdi').value=='interdi'">select interdi </div>
                        </div>
                    </div>
                   </div>
                  <div class="col-md"> 
                    <button  class="btn btn-primary float-right">Enregistrer</button>
               </div>
                </div>
                
            </form>
            <hr>
        </div>
    </div>
</div>

<div *ngIf="length_Type_chambre>0" class="container mt-5 shadow-none p-3 mb-5 bg-light rounded">
    <form  [formGroup]="registerForm4"  (submit)='ajouter_chambre_hotels()'>
        <h5 style="text-align: center;">select des Type chambre</h5>
        <div class="row">
            <div class="col-md ">
                <div class="form-group">
            <select  class="form-control"   [ngClass]="{ 'is-invalid':submitted4 && this.registerForm4.get('Type_chambre').value=='Type_chambre' }"  formControlName="Type_chambre"  >
                      <option disabled >
                        Type_chambre
                    </option>
                        <option  *ngFor="let t of Type_chambre " [ngValue]="t[0].id">
                            {{t[0].nom}}
                        </option>
            </select>
             <div *ngIf="submitted4 && this.registerForm4.get('Type_chambre').value=='Type_chambre'" class="invalid-feedback">
                 <div *ngIf="this.registerForm4.get('Type_chambre').value=='Type_chambre'">select type chambre </div>
                </div>
            </div>
           </div>
          <div class="col-md"> 
            <div class="form-group">
           <input 
                [ngClass]="{ 'is-invalid': submitted4 && f2.nombre.errors }"
                formControlName="nombre" 
                type="text" 
                class="form-control" 
                id="recipient-name" 
                placeholder="nombre de chombre">
     <div *ngIf="submitted4 && f2.nombre.errors" class="invalid-feedback">
    <div *ngIf="f2.nombre.errors.required">saisire nombre de chambre</div>
   </div>
        </div>
       </div>
        </div>
        <div class="row">
            <div class="col-md " *ngFor="let m of mois;let i=index;"> 
                <div class="row  justify-content-center ">
                    <h6 style="text-align: center;color: rgb(23, 23, 134);">{{m.nom}}</h6>
                </div>
            </div>
        </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group ml-1">
                            <input 
                                 [ngClass]="{ 'is-invalid': submitted4 && f2.prix1.errors }"
                                 formControlName="prix1" 
                                 type="text" 
                                 class="form-control" 
                                 id="recipient-name" 
                                 placeholder="prix">
                      <div *ngIf="submitted4 && f2.prix1.errors" class="invalid-feedback">
                     <div *ngIf="f2.prix1.errors.required">saisire prix</div>
                    </div>
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group ml-1">
                            <input 
                                 [ngClass]="{ 'is-invalid': submitted4 && f2.prix2.errors }"
                                 formControlName="prix2" 
                                 type="text" 
                                 class="form-control" 
                                 id="recipient-name" 
                                 placeholder="prix">
                      <div *ngIf="submitted4 && f2.prix2.errors" class="invalid-feedback">
                     <div *ngIf="f2.prix2.errors.required">saisire prix</div>
                    </div>
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group ml-1">
                            <input 
                                 [ngClass]="{ 'is-invalid': submitted4 && f2.prix3.errors }"
                                 formControlName="prix3" 
                                 type="text" 
                                 class="form-control" 
                                 id="recipient-name" 
                                 placeholder="prix">
                      <div *ngIf="submitted4 && f2.prix3.errors" class="invalid-feedback">
                     <div *ngIf="f2.prix3.errors.required">saisire prix</div>
                    </div>
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group ml-1">
                            <input 
                                 [ngClass]="{ 'is-invalid': submitted4 && f2.prix4.errors }"
                                 formControlName="prix4" 
                                 type="text" 
                                 class="form-control" 
                                 id="recipient-name" 
                                 placeholder="prix">
                      <div *ngIf="submitted4 && f2.prix4.errors" class="invalid-feedback">
                     <div *ngIf="f2.prix4.errors.required">saisire prix</div>
                    </div>
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group ml-1">
                            <input 
                                 [ngClass]="{ 'is-invalid': submitted4 && f2.prix5.errors }"
                                 formControlName="prix5" 
                                 type="text" 
                                 class="form-control" 
                                 id="recipient-name" 
                                 placeholder="prix">
                      <div *ngIf="submitted4 && f2.prix5.errors" class="invalid-feedback">
                     <div *ngIf="f2.prix5.errors.required">saisire prix</div>
                    </div>
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group ml-1">
                            <input 
                                 [ngClass]="{ 'is-invalid': submitted4 && f2.prix6.errors }"
                                 formControlName="prix6" 
                                 type="text" 
                                 class="form-control" 
                                 id="recipient-name" 
                                 placeholder="prix">
                      <div *ngIf="submitted4 && f2.prix6.errors" class="invalid-feedback">
                     <div *ngIf="f2.prix6.errors.required">saisire prix</div>
                    </div>
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group ml-1">
                            <input 
                                 [ngClass]="{ 'is-invalid': submitted4 && f2.prix7.errors }"
                                 formControlName="prix7" 
                                 type="text" 
                                 class="form-control" 
                                 id="recipient-name" 
                                 placeholder="prix">
                      <div *ngIf="submitted4 && f2.prix7.errors" class="invalid-feedback">
                     <div *ngIf="f2.prix7.errors.required">saisire prix</div>
                    </div>
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group ml-1">
                            <input 
                                 [ngClass]="{ 'is-invalid': submitted4 && f2.prix8.errors }"
                                 formControlName="prix8" 
                                 type="text" 
                                 class="form-control" 
                                 id="recipient-name" 
                                 placeholder="prix">
                      <div *ngIf="submitted4 && f2.prix8.errors" class="invalid-feedback">
                     <div *ngIf="f2.prix8.errors.required">saisire prix</div>
                    </div>
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group ml-1">
                            <input 
                                 [ngClass]="{ 'is-invalid': submitted4 && f2.prix9.errors }"
                                 formControlName="prix9" 
                                 type="text" 
                                 class="form-control" 
                                 id="recipient-name" 
                                 placeholder="prix">
                      <div *ngIf="submitted4 && f2.prix9.errors" class="invalid-feedback">
                     <div *ngIf="f2.prix9.errors.required">saisire prix</div>
                    </div>
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group ml-1">
                            <input 
                                 [ngClass]="{ 'is-invalid': submitted4 && f2.prix10.errors }"
                                 formControlName="prix10" 
                                 type="text" 
                                 class="form-control" 
                                 id="recipient-name" 
                                 placeholder="prix">
                      <div *ngIf="submitted4 && f2.prix10.errors" class="invalid-feedback">
                     <div *ngIf="f2.prix10.errors.required">saisire prix</div>
                    </div>
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group ml-1">
                            <input 
                                 [ngClass]="{ 'is-invalid': submitted4 && f2.prix11.errors }"
                                 formControlName="prix11" 
                                 type="text" 
                                 class="form-control" 
                                 id="recipient-name" 
                                 placeholder="prix">
                      <div *ngIf="submitted4 && f2.prix11.errors" class="invalid-feedback">
                     <div *ngIf="f2.prix11.errors.required">saisire prix</div>
                    </div>
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group ml-1">
                            <input 
                                 [ngClass]="{ 'is-invalid': submitted4 && f2.prix12.errors }"
                                 formControlName="prix12" 
                                 type="text" 
                                 class="form-control" 
                                 id="recipient-name" 
                                 placeholder="prix">
                      <div *ngIf="submitted4 && f2.prix12.errors" class="invalid-feedback">
                     <div *ngIf="f2.prix12.errors.required">saisire prix</div>
                    </div>
                         </div>
                    </div>
                </div>
                <hr>
        <div class="row ">
            <div class="col">
                <button  class="btn btn-primary float-right">Enregistrer</button>
            </div>
            
        </div>
    </form>
    
</div>



<div class=" mt-5 container">
    <div class="row  justify-content-center">
       
            <div class="col-8 shadow-none p-3 mb-5 bg-light rounded">
                <form  [formGroup]="registerForm5"  (submit)='ajouter_Description_hotel()'>
                <h5 style="text-align: center;">Descriptif hotel</h5>
                   <div class="row">
                       <div class="col">
                        <input 
                        [ngClass]="{ 'is-invalid': submitted5 && f3.titre.errors }"
                        formControlName="titre" 
                        type="text" 
                        class="form-control" 
                        id="recipient-name" 
                        placeholder="prix de pension">
             <div *ngIf="submitted5 && f3.titre.errors" class="invalid-feedback">
            <div *ngIf="f3.titre.errors.required">saisire prix</div>
            </div>
                       </div>
           
                   </div>
                   <div class="row mt-3">
                       <div class="col">
                        <div class="form-group shadow-textarea">
                            <textarea  [ngClass]="{ 'is-invalid': submitted5 && f3.programme.errors }"  class="form-control" id="exampleFormControlTextarea6" formControlName="programme" name="programme"  rows="3" placeholder="Write something here..."></textarea>
                            <div *ngIf="submitted5 && f3.programme.errors" class="invalid-feedback">
                              <div *ngIf="f3.programme.errors.required">programme  et obligatoir</div>
                          </div>
                          </div> 
                       </div>
                   
                   </div>
                   <div class="col-md"> 
                    <button  class="btn btn-primary float-right">Enregistrer</button>
               </div>
            </form>
               </div>
       
      
            
    </div>
</div>
<div class="container">
    <div class="row  justify-content-center">
       
            <div class="col-8 shadow-none p-3 mb-5 bg-light rounded">
                <form  [formGroup]="registerForm6"  (submit)='ajouter_question_hotel()'>
                <h5 style="text-align: center;">question de  hotel</h5>
                   <div class="row">
                       <div class="col">
                        <input 
                        [ngClass]="{ 'is-invalid': submitted6 && f4.question.errors }"
                        formControlName="question" 
                        type="text" 
                        class="form-control" 
                        id="recipient-name" 
                        placeholder="prix de pension">
             <div *ngIf="submitted6 && f4.question.errors" class="invalid-feedback">
            <div *ngIf="f4.question.errors.required">saisire prix</div>
            </div>
                       </div>
           
                   </div>
                   <div class="row mt-3">
                       <div class="col">
                        <div class="form-group shadow-textarea">
                            <textarea  [ngClass]="{ 'is-invalid': submitted6 && f4.reponce.errors }"  class="form-control" id="exampleFormControlTextarea6" formControlName="reponce" name="reponce"  rows="3" placeholder="Write something here..."></textarea>
                            <div *ngIf="submitted6 && f4.reponce.errors" class="invalid-feedback">
                              <div *ngIf="f4.reponce.errors.required">programme  et obligatoir</div>
                          </div>
                          </div> 
                       </div>
                   
                   </div>
                   <div class="col-md"> 
                    <button  class="btn btn-primary float-right">Enregistrer</button>
               </div>
            </form>
               </div>
       
      
            
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-md shadow-none p-3 mb-5 bg-light rounded" >
                    <h5 style="text-align: center;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Descriptif hotel   <i class="fas fa-caret-down"></i></h5>
                    <div class="row" *ngFor="let d of description_hotel" class="collapse" id="collapseExample">
                        <div class="col">
                            <h6>{{d.titre}}</h6>
                            <p> {{d.description}} </p>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md shadow-none p-3 mb-5 bg-light rounded" >
                    <h5 style="text-align: center;" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">les question hotel   <i class="fas fa-caret-down"></i></h5>
                    <div class="row" *ngFor="let d of question_hotel" class="collapse" id="collapseExample1">
                        <div class="col">
                            <h6>{{d.question}}</h6>
                            <p> {{d.reponce}} </p>
                        </div>
                        
                    </div>
                    
                </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md shadow-none p-3 mb-5 bg-light rounded">
                <table class="table  table-bordered">
                    <thead>
                      <tr>
                        <th style="text-align: center;" scope="col"colspan="2">chombre</th>
                      </tr>
                      <tr>
                        <th style="text-align: center;" scope="col">type chambre</th>
                        <th style="text-align: center;" scope="col">edite
                        </th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let c of chambre_hotel;let i=index;">
                      <tr style="background-color: burlywood;">
                        <td style="text-align: center;" class="bg-black" > {{c.nb}} {{c.type}} </td>
                        <td style="text-align: center;"> <button  type="button" class="btn btn-primary" (click)="isCollapsed[i] = !isCollapsed[i]">
                            <i class="fas fa-angle-down"></i>
                        </button></td>
                      </tr>
                      <tr *ngFor="let m of c.tarif" [ngbCollapse]="!isCollapsed[i]">
                          <td  style="text-align: center;" > {{m.mois}} : {{m.prix}} /TND </td>
                            <td></td>
                      </tr>
                     
                    </tbody>
                  </table>
            </div>  
            
        </div>
        </div>
        
        <div class="col-md-5">
            <div class="  shadow-none p-3 mb-5 bg-light rounded">
                <table class="table table-bordered ">
                    <thead>
                      <tr>
                        <th style="text-align: center;" scope="col">Loisire</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let l of loisire_hotel">
                        
                        <td><img width="20px" height="20px" src="http://127.0.0.1:8000/images/hotels/icons/{{l.icon}}" alt=""> {{l.titre}}</td>
                        
                      </tr>
                     
                    </tbody>
                  </table>
            </div>
            <div class="  shadow-none p-3 mb-5 bg-light rounded">
                <table class="table table-bordered ">
                    <thead>
                      <tr>
                        <th style="text-align: center;" colspan="2">Pension</th>
    
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of pension_hotel">
                        
                        <td><img width="20px" height="20px" src="http://127.0.0.1:8000/images/hotels/icons/{{p.icon}}" alt=""> {{p.titre}}</td>
                        <td>prix : {{p.prix}} TND </td>
                      </tr>
                     
                    </tbody>
                  </table>
            </div>
            <div class=" shadow-none p-3 mb-5 bg-light rounded">
                <table class="table table-bordered ">
                    <thead>
                      <tr>
                        <th style="text-align: center;" scope="col">Interdi</th>                   
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of interdi_hotel">
                        
                        <td><img width="20px" height="20px" src="http://127.0.0.1:8000/images/hotels/icons/{{i.icon}}" alt=""> {{i.titre}}</td>
                        
                      </tr>
                     
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
   
</div>
<div class="container">
   
</div>
