<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Connexion</h5>
            <hr>
            <form class="form-signin">
              <div class="form-label-group mb-3">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
               
              </div>

              <div class="form-label-group mb-3">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                
              </div>

              
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Connexion</button>
              <hr class="my-4">
              <div class="" style="text-align: center;">
                <a routerLink="/insecription">  insecription </a>
            </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>