.fas ,.far{
    opacity: 0.5;
}
#card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.card-body{
    width:240px;
    height: 130px;
}
p i{
    margin-top: 12px;
}
#table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.pagination{
   
    position: absolute;

    bottom:   0;
   
}
.controls{
    margin-top: 100px;
    margin-left: 100px;
}
#addpauer{
    background-color: #ffc107;
    color: rgb(255, 255, 255);
}
tbody td button{
    outline: 0;
    border: none;
}
