.fas ,.far{
    opacity: 0.8;
}
#card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.card-body{
    width:240px;
    height: 130px;
}
p i{
    margin-top: 12px;
}

.pagination{
   
    position: absolute;

    bottom:   0;
   
}
.controls{
   margin-top: 50px;
}


ul li{
    list-style: none;
}
td i{
    cursor: pointer;
}

