
<div class="container ">
  <div class="row  justify-content-md-center">
   
    <div class="col-6  shadow p-3 mb-5 bg-white rounded">
      <h5 style="text-align: center;">ajouter pays</h5>
      <form  [formGroup]="registerForm"  (submit)='ajouter_payer()'>
        <div *ngIf="succes && valide" class="alert alert-success text-center" role="alert">
          Ajouter succès
        </div>
        <div  *ngIf="existe" class="alert alert-danger text-center" role="alert">
          Existe déjà
        </div>
        <div class="form-group">
          <input  [ngClass]="{ 'is-invalid': submitted && f.payer.errors }" type="text" name="payer" [(ngModel)]='payer' class="form-control" id="exampleInputEmail1" formControlName="payer" aria-describedby="emailHelp" placeholder="Enter payer">
          <div *ngIf="submitted && f.payer.errors" class="invalid-feedback">
            <div *ngIf="f.payer.errors.required">Nom de pays et obligatoir</div>
           
        </div>
        </div>
        <div class="custom-file">
          <input  [ngClass]="{ 'is-invalid': submitted && f.image.errors }" type="file"  accept="image/*" formControlName="image" name="image" (change)="fileChange($event)" [(ngModel)]='image' class="custom-file-input" id="validatedCustomFile" required>
          <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
          <div class="invalid-feedback">select file</div>
        </div>
       
        <div class="modal-footer">
          <div class="row justify-content-md-center">
            <button  class="btn btn-primary">Enregistrer</button>
          </div>
        
        </div>
      </form>
    </div>
  </div>

<div  class="row mb-5   justify-content-md-center">
      <!--tabeau-->
      
    <div id="table" class="col  ">
         
        <table class="table table-bordered mt-2 ">
          <thead>
            <tr>
              <th scope="col" style="text-align:center;">Id</th>
              <th scope="col" style="text-align:center;">Pays</th>
              <th scope="col" style="text-align:center;">Détails</th>
              <th scope="col" style="text-align:center;">supprimer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of cat|paginate:{itemsPerPage: 5, currentPage:p}">
              <th >
                <div style="text-align:center;outline: 0;" >
                   {{c.id}}
                </div>
              </th>
              <td>
                <div style="text-align:center;" >
                    {{c.payer}}
                </div>
              </td>
              <td>
                <div routerLink="detailvoyage/{{c.id}}" style="text-align:center;" >
                  
                  <button   type="button" style="background-color:#dc3545 ;" class="btn btn-info  " >
                    <i class="fas fa-align-justify"></i>
                  </button>
                </div>
               </td>
              <td>
                <div style="text-align:center;" >
                  <button (click)="delete(c.id)" type="button" style="background-color:#28a745 ;" class="btn   " >
                         <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
  
      <div class="controls">
        <pagination-controls class="pagination" (pageChange)="p=$event"></pagination-controls>
      </div>
       
    </div>
     <!-- end tabeau-->
      <div class="col ">
        <div id="card" class=" ">
       
          <fusioncharts
          type='pie2d'
          width='100%'
          height='309%'
          [dataSource]='dataSource'
          (dataplotClick)='dataplotClick($event)'
          (initialized)='initialized($event)'>
          </fusioncharts>
        </div>
      </div>
</div>
</div>


