<!--card-->
<div class="container ">
    <div class="row justify-content-md-center">
<div class="card text-white bg-primary m-3" style="max-width: 20rem;">
    
    <div class="card-body w-100 h-25">
      <div class="row ">
      <div class="col">
        <h3 class="card-title">{{nb}} </h3>
        <p class="card-title ">Pays Disponible</p>
      </div>
      <div class="col ">
        <p class="card-text"><i class="fas fa-globe-americas fa-6x "></i> </p>
      </div>
    </div>
    </div>
  </div>
  <div class="card text-white bg-danger m-3" style="max-width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Danger card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-warning m-3" style="max-width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Warning card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  </div>
</div>
<!--end card -->
<!--ajouter payer-->
<button type="button" class="btn btn-info mr-3 mb-2 float-xl-right" data-toggle="modal" data-target="#exampleModal">
  <i class="fas fa-plus"></i> payer
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouvelle Payer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)='ajouter_payer()'>
          <div class="form-group">
            <input type="text" name="payer" [(ngModel)]='payer' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter payer">
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1"> Un Image pour Payer </label>
            <input type="file" name="image" (change)="fileChange($event)" [(ngModel)]='image' class="form-control-file" id="exampleFormControlFile1">
          </div>
          <div class="modal-footer">
            <button  class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button  class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
<!--end ajoouter-->
<div class="container ">
    <!--tabeau-->
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Pays</th>
            <th scope="col">Détails</th>
            <th scope="col">supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cat; let i = index">
            <th scope="row">{{c.id}}</th>
            <td>{{c.payer}}</td>
            <td>Otto</td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
        </tbody>
      </table>
      <!-- end tabeau-->
      <!--charts js-->
     <div class="row justify-content-md-center shadow p-3 mb-5 bg-white rounded">
       
      <fusioncharts
      type='pie2d'
      width='800'
      height='400'
      [dataSource]='dataSource'
      (dataplotClick)='dataplotClick($event)'
      (initialized)='initialized($event)'>
      </fusioncharts>
    </div>
    <!--end chart-->
</div>

